<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>EOD | Profile</title>

	</head>
	
<body cz-shortcut-listen="true">
		<div class="container">
			<div class="row">
				<div class="col-md-4 m-auto">
					<div class="bubble-element personalInformation-Popup" style="height: 801px;top: 50px;position: absolute;left: 33%;padding: 20px;z-index: 2002;display: block;box-sizing: border-box;opacity: 1;width: 40%;border-radius: 4px;box-shadow: rgb(0, 0, 0) 0px 0px 6px 0px;background-color: rgb(0, 0, 0);">
						<div class="bubble-r-line" style="margin-top: 3px; height: 68px;">
							<div class="bubble-r-box" style="height: 68px;left: 13px;width: 50%;float: left;margin: 0 auto;">
								<div class="bubble-element Text" style="    box-sizing: border-box; z-index: 14; width: 257px; left: 0px; top: 37px; height: 31px; overflow: visible; padding-bottom: 2px; font-family: Spectral; font-size: 18px; font-weight: bold; color: rgb(255, 255, 255); line-height: 1.5; padding-top: 2px; border-radius: 0px;">
									<div class="content">Personal Details</div>
								</div>
							</div>
							<div class="bubble-r-box" style="height: 68px;left: 320px;width: 50%;float: right;margin: 0 auto;">
								<div class="bubble-element Image" style="box-sizing: border-box;z-index: 25;height: 68px;width: 100%;left: 0px;top: 0px;border-radius: 0px;">
								<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1604121048648x238705506891192500%2FEOD%2520Editablel%2520copy.jpg?w=256&amp;h=99&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;"></div>
							</div>
						</div>



<!-- ==================================== -->
<form action="/update-info/<%= currentUser._id %>" method="POST">

						<div class="bubble-r-line" style="margin-top: 14px; height: 37px;">
							<div class="bubble-r-box" style="height: 37px; left: 13px; width: 95px;">
								<div class="bubble-element Group" style="box-sizing: border-box;   z-index: 36; height: 37px; width: 95px; left: 0px; top: 0px; border-radius: 6px;">
									<div class="bubble-r-line" style="margin-top: 0px; height: 37px;">
										<div class="bubble-r-box" style="height: 37px; left: 0px; width: 95px;">
											<div class="bubble-element Text" style="box-sizing: border-box;z-index: 27;float: right;left: 57px;top: 0px;height: 37px;overflow: visible;padding-bottom: 0px;font-family: Arial;font-size: 24px;color: rgb(252, 8, 8);text-align: center;line-height: 1.5;border-radius: 0px;">
												<div class="content">*</div>
											</div>
											<div class="bubble-element Text" style="     box-sizing: border-box; z-index: 15; width: 65px; left: 0px; top: 11px; height: 26px; overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(255, 255, 255); line-height: 1.5; padding-top: 2px; border-radius: 0px;">
												<div class="content">First Name</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 0px; height: 23px;">
							<div class="bubble-r-box" style="height: 23px;left: 13px;width: 100%;">
								<input type="input" class="bubble-element Input" tabindex="42" name="firstName" placeholder="Type here..." maxlength="" style="border: 1px solid rgb(188, 187, 188);background: none rgb(255, 255, 255);box-sizing: border-box;z-index: 20;height: 23px;width: 100%;left: 0px;top: 0px;border-radius: 6px;font-family: &quot;Space Mono&quot;;font-size: 12px;color: rgb(153, 153, 153);padding: 0px 10px;">
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 13px;height: 37px;">
							<div class="bubble-r-box" style="height: 37px; left: 13px; width: 95px;">
								<div class="bubble-element Group" style="box-sizing: border-box;   z-index: 35; height: 37px; width: 95px; left: 0px; top: 0px; border-radius: 6px;">
									<div class="bubble-r-line" style="margin-top: 0px; height: 37px;">
										<div class="bubble-r-box" style="height: 37px; left: 0px; width: 95px;">
											<div class="bubble-element Text" style="box-sizing: border-box;z-index: 28;left: 57px;top: 0px;float: right;height: 37px;overflow: visible;padding-bottom: 0px;font-family: Arial;font-size: 24px;color: rgb(252, 8, 8);text-align: center;line-height: 1.5;border-radius: 0px;">
												<div class="content">*</div>
											</div>
											<div class="bubble-element Text" style="box-sizing: border-box;z-index: 16;left: 0px;top: 13px;height: 24px;overflow: visible;padding-bottom: 2px;float: left;font-family: Arial;font-size: 12px;color: rgb(255, 255, 255);line-height: 1.5;padding-top: 2px;border-radius: 0px;">
												<div class="content">Last Name</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 0px; height: 23px;">
							<div class="bubble-r-box" style="height: 23px;left: 13px;width: 100%;">
								<input type="input" class="bubble-element Input" tabindex="43" name="lastName" placeholder="Type here..." maxlength="" style="border: 1px solid rgb(188, 187, 188);background-color: rgb(255, 255, 255);box-sizing: border-box;z-index: 21;height: 23px;width: 100%;left: 0px;top: 0px;border-radius: 6px;font-family: &quot;Space Mono&quot;;font-size: 12px;color: rgb(153, 153, 153);padding: 0px 10px;">
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 12px; height: 25px;">
							<div class="bubble-r-box" style="height: 25px;left: 13px;width: 51px;">
								<div class="bubble-element Text" style="     box-sizing: border-box; z-index: 17; width: 51px; left: 0px; top: 0px; height: 25px; overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(255, 255, 255); line-height: 1.5; padding-top: 2px; border-radius: 0px;">
									<div class="content">Address</div>
								</div>
							</div>
						</div><div class="bubble-r-line" style="margin-top: 5px; height: 23px;">
						<div class="bubble-r-box" style="height: 23px;left: 13px;width: 100%;">
							<input type="input" class="bubble-element Input" tabindex="44" name="address" placeholder="Type here..." maxlength="" style="border: 1px solid rgb(188, 187, 188);background: none rgb(255, 255, 255);box-sizing: border-box;z-index: 22;height: 23px;width: 100%;left: 0px;top: 0px;border-radius: 6px;font-family: &quot;Space Mono&quot;;font-size: 12px;color: rgb(153, 153, 153);padding: 0px 10px;">
						</div>
					</div>
					<div class="bubble-r-line" style="margin-top: 16px; height: 37px;">
						<div class="bubble-r-box" style="height: 37px; left: 12px; width: 123px;">
							<div class="bubble-element Group" style="box-sizing: border-box;   z-index: 34; height: 37px; width: 123px; left: 0px; top: 0px; border-radius: 6px;">
								<div class="bubble-r-line" style="margin-top: 0px; height: 37px;">
									<div class="bubble-r-box" style="height: 37px; left: 0px; width: 123px;">
										<div class="bubble-element Text" style="float: right;box-sizing: border-box;z-index: 29;left: 85px;top: 0px;height: 37px;overflow: visible;padding-bottom: 0px;font-family: Arial;font-size: 24px;color: rgb(252, 8, 8);text-align: center;line-height: 1.5;border-radius: 0px;"><div class="content">*</div>
									</div>
									<div class="bubble-element Text" style="     box-sizing: border-box; z-index: 18; width: 96px; left: 0px; top: 9px; height: 23px; overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(255, 255, 255); line-height: 1.5; padding-top: 2px; border-radius: 0px;"><div class="content">Contact Number</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 0px; height: 23px;">
				<div class="bubble-r-box" style="height: 23px;left: 12px;width: 100%;">
					<input type="input" class="bubble-element Input" tabindex="45" name="contactNumber" placeholder="Type here..." maxlength="" style="border: 1px solid rgb(188, 187, 188);background: none rgb(255, 255, 255);box-sizing: border-box;z-index: 23;height: 23px;width: 100%;left: 0px;top: 0px;border-radius: 6px;font-family: &quot;Space Mono&quot;;font-size: 12px;color: rgb(153, 153, 153);padding: 0px 10px;">
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 15px; height: 37px;">
				<div class="bubble-r-box" style="height: 37px;left: 13px;width: 71px;">
					<div class="bubble-element Group" style="box-sizing: border-box;   z-index: 33; height: 37px; width: 71px; left: 0px; top: 0px; border-radius: 6px;">
						<div class="bubble-r-line" style="margin-top: 0px; height: 37px;">
							<div class="bubble-r-box" style="height: 27px; left: 0px; width: 33px;">
								<div class="bubble-element Text" style="     box-sizing: border-box; z-index: 19; width: 33px; left: 0px; top: 5px; height: 22px; overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(255, 255, 255); line-height: 1.5; padding-top: 2px; border-radius: 0px;">
									<div class="content">Email</div>
								</div>
							</div>
							<div class="bubble-r-box" style="height: 37px; left: 33px; width: 38px;"><div class="bubble-element Text" style="     box-sizing: border-box; z-index: 30; width: 38px; left: 0px; top: 0px; height: 37px; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 24px; color: rgb(252, 8, 8); text-align: center; line-height: 1.5; border-radius: 0px;"><div class="content">*</div></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bubble-r-line" style="margin-top: 0px; height: 23px;">
			<div class="bubble-r-box" style="height: 23px;left: 13px;width: 100%;">
				<input type="input" class="bubble-element Input" tabindex="46" name="email" value="<%= currentUser.personalInformation.email %>" placeholder="Type here..." maxlength="" style="border: 1px solid rgb(188, 187, 188);background: none rgb(255, 255, 255);box-sizing: border-box;z-index: 24;height: 23px;width: 100%;left: 0px;top: 0px;border-radius: 6px;font-family: &quot;Space Mono&quot;;font-size: 12px;color: rgb(153, 153, 153);padding: 0px 10px;">
			</div>
		</div>
		<div class="bubble-r-line" style="margin-top: 45px; height: 37px;">
			<div class="bubble-r-box" style="height: 37px; left: 13px; width: 182px;">
				<div class="bubble-element Group" style="box-sizing: border-box;   z-index: 32; height: 37px; width: 182px; left: 0px; top: 0px; border-radius: 6px;">
					<div class="bubble-r-line" style="margin-top: 0px; height: 37px;">
						<div class="bubble-r-box" style="height: 37px;left: 0px;width: 144px;float: left;">
							<div class="bubble-element Text" style="     box-sizing: border-box; z-index: 9; width: 144px; left: 0px; top: 4px; height: 33px; overflow: visible; padding-bottom: 0px; font-family: Spectral; font-size: 18px; font-weight: bold; color: rgb(250, 245, 245); line-height: 1.5; border-radius: 0px;"><div class="content">Age Verification</div>
						</div>
					</div>
					<div class="bubble-r-box" style="height: 37px;left: 144px;/* width: 38px; */float: right;">
						<div class="bubble-element Text" style="     box-sizing: border-box; z-index: 13; width: 38px; left: 0px; top: 0px; height: 37px; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 24px; color: rgb(252, 8, 8); text-align: center; line-height: 1.5; border-radius: 0px;"><div class="content">*</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bubble-r-line" style="margin-top: 13px; height: 27px;">
	<div class="bubble-r-box" style="height: 27px; left: 8px; width: 220px;">
		<div class="bubble-element Text" style="     box-sizing: border-box; z-index: 6; width: 220px; left: 0px; top: 0px; height: 27px; overflow: visible; padding-bottom: 0px; font-family: Spectral; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); line-height: 1.5; border-radius: 0px;">
			<div class="content">Birthday</div>
		</div>
	</div>
</div>
<div class="bubble-r-line" style="margin-top: 7px; height: 32px;">
	<div class="bubble-r-box" style="height: 32px;left: 8px;width: 100%;">
		<div class="bubble-element DateInput date_picker_element clickable-element" style="box-sizing: border-box;z-index: 8;height: 32px;width: 100%;left: 0px;top: 0px;overflow: visible;">
			<input type="date" class="date_div picker__input" placeholder="31/10/2003" style="border: 1px solid rgb(188, 187, 188);background-color: rgb(255, 255, 255);height: 30px;cursor: pointer;box-sizing: content-box;width: 95%;border-radius: 6px;font-family: &quot;Space Mono&quot;;font-size: 14px;color: rgb(0, 0, 0);padding: 0px 10px;">
		</div>
	</div>
</div>
<div class="bubble-r-line" style="margin-top: 49px; height: 36px;">
	<div class="bubble-r-box" style="height: 36px;left: 135px;width: 173px;margin: 0 auto;">
		<button class="bubble-element Button clickable-element" type="submit" tabindex="48" style="padding: 0px; cursor: default; background: none rgb(186, 7, 13); border: none; text-align: center;   box-sizing: border-box; z-index: 5; height: 36px; width: 173px; left: 0px; top: 0px; font-family: Arial; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); line-height: 1; border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px; transition: box-shadow 100ms ease 0s;">Submit</button>
	</div>
</div>

</form>
<!-- ===================================== -->

<div class="bubble-r-line" style="margin-top: 26px;margin-bottom: 10px;height: 40px;">
	<div class="bubble-r-box" style="height: 40px;left: 8px;width: 100%;margin: 0 auto;">
		<div class="bubble-element Text" style="box-sizing: border-box;z-index: 31;width: 100%;left: 0px;top: 0px;height: 40px;text-align: center;overflow: visible;padding-bottom: 2px;font-family: Arial;font-size: 12px;color: rgb(227, 227, 229);line-height: 1.5;padding-top: 2px;border-radius: 0px;">
			<div class="content">All your personal information is kept confidential.&nbsp; None of your personal information is shared with any third party companies and will <u>NOT</u>&nbsp; be viewable to the user in any way. </div>
		</div>
	</div>
</div>
</div>
				</div>
			</div>
		</div>
	
</body>

</html>