<!-- header - partials inclueded here -->
<%- include('../partials/header'); -%>




		<section style="height:215px;">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-sm-10 xol-10 m-auto">
						<div>
							<div class="bubble-element Text m-auto" style="box-sizing: border-box;width:1005;white-space: pre-wrap;padding-bottom: 2px;font-family:Spectral SC;font-size: 18px;font-weight: 500;color: white;text-align: center;letter-spacing: 0.5px;word-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 0px;">
								
								<div class="content" style="margin-bottom: -5.5%;">Join Australia's most Luxurious online adult directory.	</div>
							</div>
							<div class="bubble-r-line m-auto" style="box-sizing: border-box;z-index: 4;height: 1px;width:100%;background-color: rgb(173, 158, 73);border-radius: 0px;"></div>
							<div class="bubble-element Image m-auto" style="box-sizing: border-box;z-index: 16;height: 38px;width: 100%;border-radius: 0px;"><img alt="" class="img-fluid" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1609646418478x960845121578724000%2FEscorts%2520on%2520demand%2520W%2520only.jpg?w=768&amp;h=56&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block;margin-top: 2.1%;width: 80%;height: 105%;margin-left: auto;margin-right: auto;border-radius: 0px;"></div>
							
							
						</div>
					</div>
				</div>
			</div>
		
	</section>




<!-- advertisement rules start here -->




	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-11 col-sm-11 col-11 m-auto">
					<div class="advertise-rules">

<!-- ======================================= -->
						<div class="bubble-r-line" style="height: 29px;width:100%;">
							<div class="bubble-r-box" style="height: auto;width:100%;">
								<div class="bubble-element Text" style="height: 29px;width:100%;padding-bottom: 0px;font-family: Spectral;font-size: 18px;font-weight: bold;color: rgb(227, 227, 229);letter-spacing: 0.1px;word-spacing: 1px;line-height: 1.5;border-radius: 0px;">
									<div class="content">Advertising with us is unique.</div>
								</div>
							</div>
						</div>

<!-- ======================================= -->
						<div class="bubble-r-line" style="margin-top: 0px;width:100%; height: 42px;">
							<div class="bubble-r-box" style="height: 42px;width:100%;">
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 9;height: 42px;width:100%;padding-bottom: 2px;font-family: Arial;font-size: 12px;color: rgb(227, 227, 229);line-height: 1.5;padding-top: 2px;border-radius: 0px;">
									<div class="content">Escorts On Demand is the 'ONLY' Adult Directory in Australia where 100% of the ladies visible are ready to be contacted.&nbsp; We have integrated into our website the same business motives used by physical establishments, which is the temptation of 'NOW'.&nbsp; Rarely do potential clients visit in-house and&nbsp;want to read schedules of&nbsp;when the ladies that are not working are available...
									</div>
								</div>
							</div>
						</div>
<!-- ======================================= -->

						<div class="bubble-r-line" style="margin-top: 0px; height: 189px;width:100%;">
							<div class="bubble-r-box" style="height: 189px;left: 12px;width:100%;margin-top: 40px;">
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 8;height: 58px;width:100%;padding-bottom: 2px;font-family: Arial;font-size: 12px;color: rgb(227, 227, 229);line-height: 1.5;padding-top: 2px;border-radius: 0px;">
									<div class="content">Who you see inside an establishment you book, but in our case being online...who you see within our Website, you can contact.&nbsp; Flexible Advertising.&nbsp; Our platform is designed to easily sync with yours and the client's lifestyle.&nbsp; Now you have the power to decide when you would like your profile advertised.
										<br>
									</div>
								</div>
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 7;height: 41px;width: 192px;padding-bottom: 7px;font-family: Spectral;font-size: 18px;font-weight: bold;color: rgb(227, 227, 229);letter-spacing: 0.1px;word-spacing: 1px;line-height: 1.5;padding-top: 7px;border-radius: 0px;">
									<div class="content">How does that work.</div>
								</div>
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 6;height: 60px;width: 100%;padding-bottom: 2px;font-family: Arial;font-size: 12px;color: rgb(227, 227, 229);line-height: 1.5;padding-top: 2px;border-radius: 0px;">
									<div class="content">It's simple, EOD offers 'Real Time' advertising. &nbsp;That means there are no 'schedules' in any Profiles. If your having a day off, so is your Profile.&nbsp; The idea is that each lady that can be viewed by the user can be potentially contacted &amp; booked with on that day. &nbsp;Eliminating the need for the User to search in and out of Profiles, increasing your chances of being contacted.
										'Only' on the day(s) you would like to advertise your available should you Activate your Profile to potentially secure bookings.&nbsp;<font size="1">(Activating any tier&nbsp;of Advertisement, will instantly make your Profile visible to the User).</font>
									</div>
								</div>
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 5;height: 36px;width: 100%;margin-top:40px;padding-bottom: 0px;font-family: Arial;font-size: 12px;font-weight: bold;color: rgb(23, 176, 17);letter-spacing: 0.2px;line-height: 1.5;border-radius: 0px;">
									<div class="content">The User receives 'Full Access' to all Activated Profiles Only. &nbsp;
										<br>
									</div>
								</div>
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 2;height: 46px;width: 100%;padding-bottom: 5px;font-family: Arial;font-size: 12px;color: rgb(227, 227, 229);line-height: 1.5;padding-top: 5px;border-radius: 0px;">
									<div class="content">Your Profile will only be available to the user when you have activated Go Live, Platinum or Elite.&nbsp; Your profile will not be visible in any other way, it's basically like giving your profile days off.
									Consecutive advertising days available.</div>
								</div>
								
							</div>
						</div>


<!-- ======================================= -->

						<div class="bubble-r-line" style="margin-top: 15%; height: 28px;">
							<div class="bubble-r-box" style="height: 28px; left: 13px; width: 531px;">
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 3;height: 28px;width:100%;padding-bottom: 0px;font-family: Spectral;font-size: 18px;font-weight: bold;color: rgb(227, 227, 229);letter-spacing: 0.1px;word-spacing: 1px;line-height: 1.5;border-radius: 0px;">
									<div class="content">Being Seen by the user is the key to gaining potential clients.</div>
								</div>
							</div>
						</div>

<!-- ======================================= -->
						<div class="bubble-r-line" style="height: 41px;">
							<div class="bubble-r-box" style="height: 41px;width: 100%;">
								<div class="bubble-element Text" style="box-sizing: border-box;height: 41px;width:100%;padding-bottom: 1px;font-family: Arial;font-size: 12px;color: rgb(227, 227, 229);line-height: 1.5;padding-top: 1px;border-radius: 0px;">
									<div class="content">Give them 'Double or Triple Vision'..Become a Go Live Member for example and you can also have your Profile viewed in Platinum &amp;/or Elite at the same time, simply by&nbsp;using any of our Day By Day Advertising Offers.&nbsp; Never worry about being seen again. </div>
								</div>
							</div>
						</div>
<!-- ======================================= -->

						<div class="bubble-r-line" style="margin-top: 25px; height: 117px;">
							<div class="row">
								<div class="col-md-6 m-auto  col-sm-6 col-10">
							            <div class="bubble-r-box" style="height: 117px;width: 347px;float: left;margin-bottom: 25px;">
								<div class="bubble-element Group" style="box-sizing: border-box;z-index: 12;height: 117px;width: 347px;border-style: dashed;border-width: 1px;border-color: rgb(156, 142, 65);border-radius: 6px;">
									<div class="bubble-r-line" style="margin-top: 8px; height: 98px;">
										<div class="bubble-r-box" style="height: 98px;width: 330px;">
											<div class="bubble-element Text" style="box-sizing: border-box;z-index: 15;height: 98px;width: 330px;padding-bottom: 4px;font-family: Arial;font-size: 12px;color: rgb(255, 255, 255);letter-spacing: 0.5px;line-height: 1.5;padding-top: 4px;border-radius: 0px;">
												<div class="content">Don't work enough to need a Membership.. that's fine, Create an Account anyway and take advantage of <strong>Pay As</strong> <strong>You Go</strong> instead.&nbsp; Our Day by Day Advertising offers. P.A.Y.G can be used by both members and
												non-members.</div>
											</div>
										</div>
									</div>
								</div></div>
							             </div>
							             <div class="col-md-6 m-auto col-sm-6 col-10">
							<div class="bubble-r-box" style="height: 72px;width: 157px;float: right;">
								<button class="bubble-element Button clickable-element sign-up-pop-up-loader" style="box-sizing: border-box;z-index: 11;height: 41px;width: 157px;padding: 0px;cursor: pointer;background: -webkit-linear-gradient(top, rgb(194, 11, 11) 0%, rgb(168, 10, 10) 50%, rgb(71, 0, 0) 100%);border: none;text-align: center;font-family: Arial;font-size: 14px;font-weight: bold;color: rgb(255, 255, 255);line-height: 1;border-radius: 5px;transition: box-shadow 100ms ease 0s;" tabindex="2">Create my 'FREE' Account now</button>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>




<!-- advertisement rules ends here -->









<section>
		<div class="container">

            
            <div class="row" style="
">
<div class="col-md-7 m-auto">
            		<div class="bubble-r-line" style="margin-top: 85px;height: 40px;"><div class="bubble-r-box" style="height: 40px;left: 279px;width: 579px;margin: 0 auto;"><div class="bubble-element Text" style="box-sizing: border-box; z-index: 4; height: 40px; width: 579px; left: 0px; top: 0px;overflow: visible; padding-bottom: 2px; font-family: &quot;Sorts Mill Goudy&quot;; font-size: 22px; color: rgb(240, 240, 240); text-align: center; letter-spacing: 0.5px; word-spacing: 1.5px; line-height: 1.5; padding-top: 2px; border-radius: 0px;"><div class="content">Advertising with Escorts On Demand is as easy as <font face="serif">1, 2, 3.</font></div></div></div></div>


            		<div class="bubble-r-line" style="margin-top: 0px;height: 1px;margin-bottom: 45px;"><div class="bubble-r-box" style="height: 1px;left: 229px;width: 100%;"><div class="bubble-element Shape" style="box-sizing: border-box;z-index: 16;height: 1px;width: 100%;left: 0px;top: 0px;background-color: rgb(173, 158, 73);border-radius: 0px;"></div></div></div>
            	</div>
            </div>


			<div class="row">
				<div class="col-md-4 m-auto" style="margin-top: 0px !important;">
					
					<div class="bubble-r-box" style="height: 534px;margin: 0 auto;width: 332px;">
						<div class="bubble-element Group" style=" box-sizing: border-box; z-index: 7; height: 385px; width: 326px; left: 6px; top: 0px; border-radius: 6px;">
							<div class="bubble-r-line" style="margin-top: 1px; height: 75px;">
								<div class="bubble-r-box" style="height: 75px; left: 7px; width: 309px;">
									<div class="bubble-element Image" style="box-sizing: border-box;z-index: 3;height: 75px;width: 309px;left: 0px;margin: 0 auto;top: 0px;border-radius: 0px;">
										<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1606466709597x655652468831735800%2Flogo%2520shape.png?w=384&amp;h=93&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block;margin: 0 auto;width: 100%;height: 100%;border-radius: 0px;">
									</div>
									<div class="bubble-element Text" style="margin: -68px auto 0px 115px;box-sizing: border-box;z-index: 16;height: 69px;width: 70px;left: 115px;top: 6px;overflow: visible;padding-bottom: 1px;font-family: Spectral;font-size: 43px;color: rgb(227, 227, 229);text-align: center;line-height: 1.5;padding-top: 1px;border-radius: 0px;">
										<div class="content">
											<font face="sans-serif">1</font>
										</div>
									</div>
								</div>
							</div>
							<div class="bubble-r-line" style="margin-top: 0px; height: 29px;">
								<div class="bubble-r-box" style="height: 29px;margin: 0 auto;width: 225px;">
									<div class="bubble-element Text" style="box-sizing: border-box; z-index: 9; height: 29px; width: 225px; left: 0px; top: 0px;   overflow: visible; padding-bottom: 4px; font-family: &quot;Spectral SC&quot;; font-size: 14px; font-weight: bold; color: rgb(227, 227, 229); text-align: center; line-height: 1.5; padding-top: 4px; border-radius: 0px;">
										<div class="content">Create your free account.</div>
									</div>
								</div>
							</div>
							<div class="bubble-r-line" style="margin-top: 11px; height: 256px;">
								<div class="bubble-r-box" style="height: 256px; left: 7px; width: 310px;">
									<div class="bubble-element Text" style="  box-sizing: border-box; z-index: 17; height: 256px; width: 310px; left: 0px; top: 0px;   overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(227, 227, 229); line-height: 1.5; padding-top: 2px; border-radius: 0px;">
										<div class="content">It's 'Free' to Join Escorts On Demand and it's also 'Free' to Create An Account.&nbsp; However to have your Profile visible to the user you will have to become a Member or you can decide to Pay As You Go (P.A.Y.G) with our Day By Day Advertising Offers which can be used by both Members &amp; Non-Members.<br>
										<br>There are 3 different Memberships available, Go Live, Platinum and Elite, and each Membership offers you various advertising benefits.&nbsp; You can find more information on Membership benefits and how to take advantage of using all avenues of advertising to maximise your advertisement once you have Created An Account and have logged in.</div>
									</div>
								</div>
							</div></div>
							<div class="bubble-element Group" style="  box-sizing: border-box; z-index: 6; height: 94px; width: 326px; left: 0px; top: 440px; border-radius: 6px;">
								<div class="bubble-r-line" style="margin-top: 7px;display: flex;justify-content: space-around;height: 83px;">
									<div class="bubble-r-box" style="height: 83px; left: 13px; width: 80px;">
										<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 28; height: 80px; width: 80px; left: 0px; top: 3px; border-radius: 0px;">
											<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1612336090967x205166260309083360%2FimgBronzeMember.png?w=96&amp;h=96&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
										</div>
									</div>
									<div class="bubble-r-box" style="height: 83px; left: 115px; width: 83px;">
										<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 29; height: 83px; width: 83px; left: 0px; top: 0px; border-radius: 0px;">
											<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1606476281018x289842811877725200%2FPlatnium%2520stamp%2520up%2520sized%2520font%2520crop.png?w=96&amp;h=96&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
										</div>
									</div>
									<div class="bubble-r-box" style="height: 77px; left: 223px; width: 100px;">
										<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 30; height: 74px; width: 100px; left: 0px; top: 3px; border-radius: 0px;">
											<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1606476336065x794136570058731800%2FElite-Escorts_png2%2520cropped.png?w=128&amp;h=95&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 m-auto" style="margin-top: 0px !important;">
						
						<div class="bubble-r-box" style="height: 663px;width: 404px;margin: 0 auto;">
							<div class="bubble-element Group" style="  box-sizing: border-box; z-index: 8; height: 164px; width: 404px; left: 0px; top: 5px; border-radius: 6px;">
								<div class="bubble-r-line" style="margin-top: 0px; height: 75px;">
									<div class="bubble-r-box" style="height: 75px;left: 48px;width: 309px;margin: 0 auto;">
										<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 4; height: 75px; width: 309px; left: 0px; top: 0px; border-radius: 0px;">
											<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1606466709597x655652468831735800%2Flogo%2520shape.png?w=384&amp;h=93&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
										</div>
										<div class="bubble-element Text" style="box-sizing: border-box;z-index: 17;height: 69px;width: 70px;left: 117px;top: 6px;overflow: visible;margin: -70px auto 0;padding-bottom: 0px;font-family: Spectral;font-size: 43px;color: rgb(227, 227, 229);text-align: center;line-height: 1.5;border-radius: 0px;">
											<div class="content">
												<font face="sans-serif">2</font>
											</div>
										</div>
									</div>
								</div>
								<div class="bubble-r-line" style="margin-top: 0px; height: 29px;">
									<div class="bubble-r-box" style="height: 29px;left: 111px;margin: 0 auto;width: 174px;">
										<div class="bubble-element Text" style="  box-sizing: border-box; z-index: 10; height: 29px; width: 174px; left: 0px; top: 0px;   overflow: visible; padding-bottom: 4px; font-family: &quot;Spectral SC&quot;; font-size: 14px; font-weight: bold; color: rgb(227, 227, 229); text-align: center; line-height: 1.5; padding-top: 4px; border-radius: 0px;">
											<div class="content">Edit your profile.</div>
										</div>
									</div>
								</div>
								<div class="bubble-r-line" style="margin-top: 7px; height: 41px;">
									<div class="bubble-r-box" style="height: 41px;left: 48px;margin:  0 auto;width: 309px;"><div class="bubble-element Text" style=" box-sizing: border-box; z-index: 14; height: 41px; width: 309px; left: 0px; top: 0px;  overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(227, 227, 229); line-height: 1.5; padding-top: 2px; border-radius: 0px;">
										<div class="content">When you have logged In, simply click on 'Edit Profile' and start editing. </div>
									</div>
								</div>
							</div>
						</div>
						<div class="bubble-element Image" style="box-sizing: border-box;z-index: 3;height: 489px;width: 270px;left: 60px;margin: 0 auto;top: 174px;border-radius: 0px;">
							<img alt="" src="./img/edit_profile.png?w=384&amp;h=695&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
						</div>
						<button class="bubble-element materialicons-Materialicon inner-element material-icons" style="display: none;   box-sizing: border-box; z-index: 11; height: 59px; padding: 0px; text-align: center; background: none; border: none; cursor: inherit; color: rgb(181, 23, 23); font-size: 46px; border-radius: 4px; top: 468px; width: 46px; left: 235px;">call_received</button>
					</div>
				</div>
				<div class="col-md-4 m-auto">
					
<div class="bubble-r-box" style="height: 808px;width: 337px;margin: 0 auto;">
						<div class="bubble-element Group" style="box-sizing: border-box;z-index: 9;height: 369px;margin: 0 auto;width: 309px;left: 12px;top: 0px;background-color: rgb(0, 0, 0);border-radius: 6px;">
							<div class="bubble-r-line" style="margin-top: 6px; height: 75px;">
								<div class="bubble-r-box" style="height: 75px; left: 0px; width: 309px;">
									<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 5; height: 75px; width: 309px; left: 0px; top: 0px; border-radius: 0px;">
										<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1606466709597x655652468831735800%2Flogo%2520shape.png?w=384&amp;h=93&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
									</div>
									<div class="bubble-element Text" style="margin: 0 auto;box-sizing: border-box;z-index: 18;height: 69px;margin: -70px auto 0px;width: 70px;left: 117px;top: 6px;overflow: visible;padding-bottom: 2px;font-family: Spectral;font-size: 42px;color: rgb(227, 227, 229);text-align: center;line-height: 1.5;padding-top: 2px;border-radius: 0px;">
										<div class="content">
											<font face="sans-serif">3</font>
										</div>
									</div>
								</div>
							</div>
							<div class="bubble-r-line" style="margin-top: 1px; height: 50px;"><div class="bubble-r-box" style="height: 50px;left: 0px;width: 302px;margin: 0 auto;">
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 11;height: 50px;text-align: center;width: 302px;left: 0px;top: 0px;overflow: visible;padding-bottom: 4px;font-family: &quot;Spectral SC&quot;;font-size: 14px;font-weight: bold;color: rgb(227, 227, 229);line-height: 1.5;padding-top: 4px;border-radius: 0px;">
									<div class="content">Decide when you would like to be seen.
									</div>
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 5px; height: 220px;">
							<div class="bubble-r-box" style="height: 220px; left: 0px; width: 309px;">
								<div class="bubble-element Text" style="  box-sizing: border-box; z-index: 15; height: 220px; width: 309px; left: 0px; top: 0px;   overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(227, 227, 229); line-height: 1.5; padding-top: 2px; border-radius: 0px; background-color: rgb(0, 0, 0);">
									<div class="content">Advertising with us is unique.&nbsp; Your Profile is not always available to be seen by the User like our Competitors Websites nor do we offer you a schedule to fill in, locking yourself in to be available on those set days.
									<br>Instead we offer you Flexible Advertising, advertising on your terms.&nbsp; Unlock unlimited advertising with one of our 3 Memberships or decide daily, <strong>the power is yours</strong>.&nbsp; Just login to your Account, and within 3 easy clicks you can have your Profile visible to the User, indicating&nbsp; you are available to be contacted.&nbsp;Consecutive advertising days available.&nbsp; </div>
								</div>
							</div>
						</div>
					</div>
					<div class="bubble-element Image" style="box-sizing: border-box;z-index: 5;height: 267px;width: 337px;margin-bottom: 15px;left: 0px;top: 379px;border-radius: 0px;">
						<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1606523756189x274638012044224670%2Fgo%2520live%2520intro.png?w=384&amp;h=304&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
					</div>
					<div class="bubble-element Group" style="box-sizing: border-box;padding-left: 8px;z-index: 18;height: 123px;width: 337px;left: 0px;top: 685px;border-style: dashed;border-width: 1px;border-color: rgb(156, 142, 65);border-radius: 6px;">
						<div class="bubble-r-line" style="margin-top: 0px; height: 116px;">
							<div class="bubble-r-box" style="height: 116px; left: 6px; width: 323px;">
								<div class="bubble-element Text" style="  box-sizing: border-box; z-index: 15; height: 27px; width: 204px; left: 59px; top: 0px;   overflow: visible; padding-bottom: 4px; font-family: Arial; font-size: 12px; color: rgb(255, 255, 255); text-align: center; letter-spacing: 0.5px; line-height: 1.5; padding-top: 4px; border-radius: 0px;">
									<div class="content">
									<strong>Unique to Escorts On Demand.</strong></div>
								</div>
								<div class="bubble-element Text" style="  box-sizing: border-box; z-index: 16; height: 94px; width: 323px; left: 0px; top: 22px;   overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(227, 227, 229); line-height: 1.5; padding-top: 2px; border-radius: 0px;">
									<div class="content">You can now let the Users know when you are unavailable. When you have activated your profile online, you will receive an added&nbsp; bonus option of displaying a discreet Booked Banner indicating you are unavailable. Update your status from Available to Unavailable instantly.&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-5 m-auto">
				<div class="bubble-r-box" style="height: 74px; left: 342px; width: 452px;">
	<div class="bubble-element Group" style="  box-sizing: border-box; z-index: 39; height: 74px; width: 452px; left: 0px; top: 0px; border-radius: 6px;">
		<div class="bubble-r-line" style="margin-top: 0px; height: 41px;">
			<div class="bubble-r-box" style="height: 41px;left: 38px;margin: 0 auto;width: 376px;">
				<button class="bubble-element Button clickable-element sign-up-pop-up-loader" style="box-sizing: border-box; z-index: 3; height: 41px; <% if(currentUser){ opacity: 0; } %> width: 376px; left: 0px; top: 0px; padding: 0px; cursor: pointer; background: -webkit-linear-gradient(top, rgb(194, 11, 11) 0%, rgb(168, 10, 10) 50%, rgb(71, 0, 0) 100%); border: none; text-align: center; font-family: Arial; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); line-height: 1; border-radius: 5px; transition: box-shadow 100ms ease 0s; box-shadow: none;" tabindex="1">Create my 'FREE' Account now</button>
			</div>
		</div>
		<div class="bubble-r-line" style="margin-top: 4px; height: 16px;">
			<div class="bubble-r-box" style="height: 16px; left: 0px; width: 452px;">
				<div class="bubble-element Text" style="  box-sizing: border-box; z-index: 0; height: 16px; width: 452px; left: 0px; top: 0px; overflow: visible; padding-bottom: 0px; font-family: Arial; font-size: 10px; color: rgb(227, 227, 229); text-align: center; line-height: 1.5; border-radius: 0px;">
					<div class="content">Please read our <u>Terms &amp; Conditions</u> carefully before creating an account with Escorts On Demand. </div>
				</div>
				<a class="bubble-element Link clickable-element" target="_self" href="https://eod-2.bubbleapps.io/version-test/terms___conditions" style="  box-sizing: border-box; z-index: 40; height: 12px; width: 101px; left: 72px; top: 4px;   text-decoration: underline; word-break: break-word; user-select: none; cursor: pointer; pointer-events: auto; font-family: Arial; font-size: 12px; color: rgb(0, 0, 0); line-height: 1; border-radius: 0px;">
					<div class="content">
						
					</div>					
				</a>				
			</div>			
		</div>		
	</div>	
</div>
			</div>
		</div>
	</div>
</section>









<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>
$(document).ready(function(){
$(".widget-bar-btn").click(function(){
$(".widget-bar").addClass("on") && $(".widget-bar").removeClass("off") && $("#pop-up-overlay").addClass("overlay");

});
});


$(document).ready(function(){
  $(".close-widget-bar").click(function(){
    $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on") && $("#pop-up-overlay").removeClass("overlay"); 
  
    
  });
});



$(document).ready(function(){
  $(".sign-up-pop-up-loader").click(function(){

$(".Sign-up-popup").css("display", "block") && $("#pop-up-overlay").addClass("overlay");


  });
});



$( "body" ).click(function( event ) {
var i = event.target.className;
console.log(i);
if(i == "overlay"){
$("#pop-up-overlay").removeClass("overlay") && $(".Sign-up-popup").css("display", "none") && $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on");
}
});
        </script>

</body>
</html>