<!-- header - partials inclueded here -->
<%- include('../partials/header'); -%>



<section>
	<div class="container">
		<div class="row">
			<div class="col-md-11 m-auto">
				






<div class="bubble-r-box" style="height: 839px;width: 100%;margin: 0 auto;">

	<div class="bubble-element Group" style="width: 100%;box-sizing: border-box;z-index: 11;height: 781px;background-color: rgba(255, 255, 255, 0);background-repeat: no-repeat;background-size: cover;border-radius: 6px;background-image: url(&quot;https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1609716300935x653313652709717000%2F1370013806735%2520%25281%2529.png?w=1536&amp;h=1203&amp;auto=compress&amp;fit=crop&amp;dpr=1&quot;);">

        <div class="row">
        	<div class="col-md-4 m-auto">
        		
<div class="bubble-r-box" style="height: 602px; left: 44px; width: 445px;">
	<div class="bubble-element Group" style="box-sizing: border-box;z-index: 2;height: 602px;width: 100%;left: 0px;top: 0px;border-radius: 6px;">
		<div class="bubble-r-line" style="margin-top: 0px;height: 100px;">
			<div class="bubble-r-box" style="height: 101px;left: 10px;width: 427px;margin: 0 auto;">
				<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 4; height: 101px; width: 427px; left: 0px; top: 0px; border-radius: 6px;">
					<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1612011425353x243569112483087650%2FEOD%2520just%2520top.jpg?w=512&amp;h=121&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 6px;">
				</div>
			</div>
		</div>
		<div class="bubble-r-line" style="margin-top: 0px; height: 501px;">
			<div class="bubble-r-box" style="height: 501px;left: 15px;width: 100%;">
				<div class="bubble-element Text" style="box-sizing: border-box;z-index: 5;height: 33px;margin: 0 auto;width: 100%;left: 39px;top: 0px;overflow: visible;padding-bottom: 0px;font-family: &quot;Spectral SC&quot;;font-size: 22px;font-weight: 600;text-decoration: underline;color: rgb(197, 179, 86);text-align: center;line-height: 1.5;border-radius: 5px;background-color: rgb(0, 0, 0);">
					<div class="content">CONTACT US</div>
				</div>
				<div class="bubble-element Group" style="display: none; box-sizing: border-box;">
				</div>
				<div class="bubble-element Text" style="box-sizing: border-box;z-index: 2;height: 125px;width: 100%;left: 0px;top: 38px;white-space: pre-wrap;overflow: visible;padding-bottom: 6px;font-family: Arial;font-size: 14px;color: rgb(229, 228, 226);text-align: center;line-height: 1.5;padding-top: 6px;border-radius: 0px;"><div class="content">Get in touch with ease. Fill out your details below with your message and click send. This also includes <u>reporting any Advertiser or User.</u>&nbsp;&nbsp;
					<br>To enquire about advertising opportunities please email <font color="#ad9e4c"><a href="mailto:advertising@eod.org.au" target="_blank">advertising@eod.org.au</a>
					</font>
				</div>
			</div>

<form action="/contact-us" method="POST">

			<div class="bubble-element Group" style="box-sizing: border-box;z-index: 3;height: 337px;width: 100%;left: 26px;margin: 0 auto;top: 164px;background-color: rgb(0, 0, 0);border-radius: 6px;">
				<div class="bubble-r-line" style="margin-top: 17px; height: 21px;">
					<div class="bubble-r-box" style="height: 21px;width: 334px;margin: 0 auto;">
						<input type="input" class="bubble-element Input" name="name" placeholder="Your Name" maxlength="" tabindex="3" style="  box-sizing: border-box; z-index: 5; height: 21px; width: 334px; left: 0px; top: 0px; border: 1px solid rgb(197, 179, 86); background-color: rgb(227, 227, 229); border-radius: 2px; font-family: Raleway; font-size: 12px; font-weight: 500; color: rgb(0, 0, 0); padding: 0px 10px;">
					</div>
				</div>
				<div class="bubble-r-line" style="margin-top: 9px; height: 21px;">
					<div class="bubble-r-box" style="margin: 0 auto;height: 21px;width: 334px;">
						<input type="input" class="bubble-element Input" name="email" placeholder="Email" maxlength="" tabindex="4" style="  box-sizing: border-box; z-index: 7; height: 21px; width: 334px; left: 0px; top: 0px; border: 1px solid rgb(197, 179, 86); background: none rgb(227, 227, 229); border-radius: 2px; font-family: Raleway; font-size: 12px; font-weight: 500; color: rgb(0, 0, 0); padding: 0px 10px;">
					</div>
				</div>
				<div class="bubble-r-line" style="margin-top: 12px;height: 21px;">
					<div class="bubble-r-box" style="height: 21px;width: 334px;margin: 0 auto;">
						<input type="input" class="bubble-element Input" name="subject" placeholder="Subject" maxlength="" tabindex="5" style="  box-sizing: border-box; z-index: 6; height: 21px; width: 334px; left: 0px; top: 0px; border: 1px solid rgb(197, 179, 86); background-color: rgb(227, 227, 229); border-radius: 2px; font-family: Raleway; font-size: 12px; font-weight: 500; color: rgb(0, 0, 0); padding: 0px 10px;">
					</div>
				</div>
				<div class="bubble-r-line" style="margin-top: 23px; height: 174px;">
					<div class="bubble-r-box" style="height: 174px;text-align: center;left: 10px;margin: 0 auto;width: 100%;">
						<textarea class="bubble-element MultiLineInput" name="message" data-gramm_editor="false" placeholder="Message" maxlength=""  style="box-sizing: border-box;z-index: 2;height: 174px;width: 75%;left: 0px;top: 0px;border: 1px solid rgb(197, 179, 86);background: none rgb(227, 227, 229);border-radius: 2px;font-family: Raleway;font-size: 12px;font-weight: 500;color: rgb(0, 0, 0);line-height: 1;padding: 10px;"></textarea>
					</div>
				</div>
				<div class="bubble-r-line" style="margin-top: 10px;height: 17px;">
					
					<div class="bubble-r-box" style="height: 16px;left: 263px;width: 69px;/* margin-left: auto; */margin: 0 auto;">
						<button class="bubble-element Button clickable-element" type="submit" style="  box-sizing: border-box; z-index: 3; height: 16px; width: 69px; left: 0px; top: 0px; padding: 0px; cursor: pointer; background-image: url(&quot;https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610173458749x540360635852343600%2Fgold-background-in-frame-light-realistic-vector-15792628.jpg?w=96&amp;h=22&amp;auto=compress&amp;fit=crop&amp;dpr=1&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgba(255, 255, 255, 0); border: none; text-align: center; font-family: Arial; font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); line-height: 1; border-radius: 3px; box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px; transition: box-shadow 100ms ease 0s;" tabindex="8">Send</button>
					</div>
				</div>
				</div>

</form>


			</div>
		</div>
	</div>
</div>



        	</div>
        	<div class="col-md-4 m-auto">
        		


<div class="bubble-r-box" style="height: 646px; left: 534px; width: 435px;margin-top: 65px;">
	<div class="bubble-element Group" style=" box-sizing: border-box; z-index: 3; height: 300px; width: 364px; left: 16px; top: 118px; border-radius: 6px;">
		<div class="bubble-r-line" style="margin-top: 6px; height: 68px;">
			<div class="bubble-r-box" style="height: 68px; left: 140px; width: 140px; margin: 0 auto;">
				<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 5; height: 68px; width: 140px; left: 0px; top: 0px; border-radius: 5px;">
					<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1588585379828x226893382642072480%2Foie_bOZCwFyKbX16.jpg?w=192&amp;h=93&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 5px;">
				</div>
			</div>
		</div>
		<div class="bubble-r-line" style="margin-top: 26px;height: 65px;">
			<div class="bubble-r-box" style="height: 65px;left: 0px;width: 355px;">
				<div class="bubble-element Group" style="box-sizing: border-box;z-index: 14;height: 65px;width: 355px;left: 0px;top: 0px;border-radius: 6px;">
					<div class="bubble-r-line" style="margin-top: 0px; height: 49px;">
						<div class="bubble-r-box" style="height: 49px;left: 0px;width: 14%;float: left;">
							<button class="bubble-element materialicons-Materialicon inner-element material-icons" style="  box-sizing: border-box; z-index: 11; height: 49px; width: 49px; left: 0px; top: 0px; padding: 0px; text-align: center; background: none rgb(0, 0, 0); border: none; cursor: inherit; color: rgb(197, 179, 86); font-size: 49px; border-radius: 4px;"><i class="fas fa-map-marker-alt" aria-hidden="true"></i></button>
						</div><div class="bubble-r-box" style="height: 45px;left: 69px;width: 86%;float: right;margin: 20px auto 0;">
						<div class="bubble-element Text" style="box-sizing: border-box;z-index: 6;height: 30px;margin: 0 auto;width: 286px;left: 0px;top: 15px;overflow: visible;padding-bottom: 4px;font-family: Raleway;font-size: 14px;font-weight: bold;color: rgb(229, 228, 226);text-align: center;line-height: 1.5;padding-top: 4px;border-radius: 5px;background-color: rgba(255, 255, 255, 0);background-repeat: no-repeat;background-size: cover;background-image: url(&quot;https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1612053726856x365262673882820600%2Fgold-background-in-frame-light-realistic-vector-15792628.jpg?w=384&amp;h=40&amp;auto=compress&amp;fit=crop&amp;dpr=1&quot;);">
							<div class="content">197 Sancuary Cove 4212, QLD</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bubble-r-line" style="margin-top: 30px;height: 65px;">
		<div class="bubble-r-box" style="height: 65px;left: 1px;width: 357px;">
			<div class="bubble-element Group" style="box-sizing: border-box;z-index: 15;height: 65px;width: 357px;left: 0px;top: 0px;border-radius: 6px;">
				<div class="bubble-r-line" style="margin-top: 0px;height: 65px;">
					<div class="bubble-r-box" style="height: 49px;left: 0px;float: left;width: 14%;">
						<button class="bubble-element materialicons-Materialicon inner-element material-icons" style="box-sizing: border-box;z-index: 12;height: 49px;width: 49px;padding: 0px;text-align: center;background: none rgb(0, 0, 0);border: none;cursor: inherit;color: rgb(197, 179, 86);font-size: 38px;border-radius: 4px;"><i class="fas fa-phone" aria-hidden="true" style="
    transform: rotate(90deg);
    margin: auto;
"></i></button>
					</div>
					<div class="bubble-r-box" style="margin-top: 10px;height: 44px;left: 71px;float: right;width: 86%;">
						<div class="bubble-element Text" style="box-sizing: border-box;z-index: 13;height: 30px;width: 286px;margin: 0 auto;left: 0px;top: 14px;overflow: visible;padding-bottom: 4px;font-family: Raleway;font-size: 14px;font-weight: bold;color: rgb(229, 228, 226);text-align: center;line-height: 1.5;padding-top: 4px;border-radius: 5px;background-color: rgba(255, 255, 255, 0);background-repeat: no-repeat;background-size: cover;background-image: url(&quot;https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1612053741793x225358138786133630%2Fgold-background-in-frame-light-realistic-vector-15792628.jpg?w=384&amp;h=40&amp;auto=compress&amp;fit=crop&amp;dpr=1&quot;);">
							<div class="content">1300 214 556 333</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bubble-r-line" style="margin-top: 25px;height: 65px;">
		<div class="bubble-r-box" style="height: 65px;left: 2px;width: 355px;">
			<div class="bubble-element Group" style="box-sizing: border-box;z-index: 16;height: 65px;width: 355px;left: 0px;top: 0px;border-radius: 6px;">
				<div class="bubble-r-line" style="margin-top: 0px; height: 52px;">
					<div class="bubble-r-box" style="height: 52px;left: 0px;float: left;width: 16%;">
						<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 4; height: 52px; width: 54px; left: 0px; top: 0px; border-radius: 0px;">
							<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1612044116899x991330095576578300%2Finstagram%2520logo%2520circle.png?w=64&amp;h=62&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
						</div>
					</div>
					<div class="bubble-r-box" style="height: 39px;left: 69px;width: 84%;margin-top: 10px;float: right;">
						<div class="bubble-element Text" style="box-sizing: border-box;z-index: 5;margin: 0 auto;height: 30px;width: 286px;left: 0px;top: 9px;overflow: visible;padding-bottom: 4px;font-family: Raleway;font-size: 14px;font-weight: bold;color: rgb(255, 255, 255);text-align: center;line-height: 1.5;padding-top: 4px;border-radius: 5px;background-color: rgba(255, 255, 255, 0);background-repeat: no-repeat;background-size: cover;background-image: url(&quot;https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1612053754926x169200139158941060%2Fgold-background-in-frame-light-realistic-vector-15792628.jpg?w=384&amp;h=40&amp;auto=compress&amp;fit=crop&amp;dpr=1&quot;);">
							<div class="content">EOD@Instagram</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bubble-element Group" style="display: none; box-sizing: border-box;">
</div>
<div class="bubble-element Group" style="  box-sizing: border-box; z-index: 4; height: 160px; width: 435px; left: 0px; top: 447px; border-radius: 6px;">
	<div class="bubble-r-line" style="margin-top: 102px;height: 134px;">
		<div class="bubble-r-box" style="height: 119px;left: 1px;width: 30%;float: left;">
			<div class="bubble-element Group" style="box-sizing: border-box;z-index: 5;height: 62px;width: 126px;left: 0px;margin-top: 10px;top: 0px;border-radius: 6px;">
				<div class="bubble-r-line" style="margin-top: 0px;height: 62px;">
					<div class="bubble-r-box" style="height: 62px; left: 6px; width: 109px;">
						<div class="bubble-element Image" style="box-sizing: border-box;z-index: 11;height: 62px;width: 109px;left: 0px;opacity: 1;top: 0px;border-radius: 0px;">
							<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610170596884x572999865922407800%2Fgold%2520frame.png?w=128&amp;h=73&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
						</div>
						<div class="bubble-element Text" style="margin-top: -40px;box-sizing: border-box;z-index: 12;height: 22px;width: 109px;left: 0px;top: 22px;overflow: visible;padding-bottom: 0px;font-family: Arial;font-size: 12px;font-weight: bold;color: rgb(227, 227, 229);text-align: center;line-height: 1.5;border-radius: 0px;background-color: rgb(0, 0, 0);transform: rotate(345deg);">
							<div class="content">Suggestion Box</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bubble-element Image clickable-element" tabindex="2" style="box-sizing: border-box;z-index: 3;height: 84px;margin-top: -40px;width: 92px;left: 36px;top: 34px;border-radius: 6px;cursor: pointer;">
				<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1612004560750x662128466528718800%2FPN7YM9.jpg?w=128&amp;h=117&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 6px;">
			</div>
			<div class="bubble-element Group" style="display: none; box-sizing: border-box;">
			</div>
		</div>
		<div class="bubble-r-box" style="float: right;height: 134px;left: 144px;width: 70%;">
			<div class="bubble-element Group" style="  box-sizing: border-box; z-index: 4; height: 126px; width: 285px; left: 0px; top: 8px; background-color: rgb(0, 0, 0); border-style: double; border-width: 2px; border-color: rgb(197, 179, 86); border-radius: 6px;">
				<div class="bubble-r-line" style="margin-top: 3px; height: 120px;">
					<div class="bubble-r-box" style="height: 120px; left: 8px; width: 264px;">
						<div class="bubble-element Text" style="  box-sizing: border-box; z-index: 2; height: 120px; width: 264px; left: 0px; top: 0px;   overflow: visible; padding-bottom: 2px; font-family: Arial; font-size: 12px; color: rgb(227, 227, 229); line-height: 1.5; padding-top: 2px; border-radius: 0px;"><div class="content">If you think there is anything that could be done to improve your User experience, click on the suggestion box &amp; make it a suggestion.
							<font size="1">All suggestions are sent to us anonymously &amp; will not be replied back too.&nbsp; If it is a serious matter please email Admin@eod.org.au directly. </font>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>


        	</div>
        </div>
       


</div>
</div>











			</div>
		</div>
	</div>
</section>

<script>
$(document).ready(function(){
$(".widget-bar-btn").click(function(){
$(".widget-bar").addClass("on") && $(".widget-bar").removeClass("off") && $("#pop-up-overlay").addClass("overlay");

});
});


$(document).ready(function(){
  $(".close-widget-bar").click(function(){
    $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on") && $("#pop-up-overlay").removeClass("overlay"); 
  
    
  });
});




$( "body" ).click(function( event ) {
var i = event.target.className;
console.log(i);
if(i == "overlay"){
$("#pop-up-overlay").removeClass("overlay") && $(".Sign-up-popup").css("display", "none") && $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on");
}
});
        </script>
</body>
</html>