<%- include('../partials/header'); -%>


<div class="container">
	<div class="row">
		<div class="col-md-3  m-auto col-sm-10 col-10">

<div class="bubble-r-box" style="left: 7px;width: 100%;height: 182px;margin: 0 auto;">
	<div class="bubble-element Group" style="box-sizing: border-box;z-index: 6;height: 173px;width: 100%;left: 0px;top: 9px;border-radius: 6px;">
		<div class="bubble-r-line" style="margin-top: 17px; height: 123px;">
			<div class="bubble-r-box" style="height: 123px;left: 22.5975px;margin: 0 auto;width: 165px;">
				<div class="bubble-element Image clickable-element" tabindex="4" style="box-sizing: border-box;z-index: 4;height: 123px;width: 100%;left: 0px;top: 0px;border-radius: 0px;cursor: pointer;">
					<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1598613515455x262111014408752600%2FElite-Escorts_png2%2520cropped.png?w=192&amp;h=143&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
					</div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 3px; height: 25px;">
				<div class="bubble-r-box" style="height: 25px;left: 22.5975px;margin: 0 auto;width: 165px;">
					<div class="bubble-element Text clickable-element" tabindex="5" style="  box-sizing: border-box; z-index: 8; height: 25px; width: 165px; left: 0px; top: 0px;   overflow: visible; padding-bottom: 1px; font-family: &quot;Spectral SC&quot;; font-size: 13px; font-weight: 600; color: rgb(255, 255, 255); text-align: center; line-height: 1.5; padding-top: 1px; border-top: 2px solid rgb(242, 34, 34); border-radius: 0px; border-bottom: 2px solid rgb(242, 34, 34); cursor: pointer; display: block;">
						<div class="content">'Click here'</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		</div>
		<div class="col-md-6 m-auto col-sm-10 col-10">
	<div class="bubble-r-box" style="height: 242px;left: 219.086px;width: 100%;">
				<div class="bubble-element Text" style="box-sizing: border-box;z-index: 5;height: 46px;width: 100%;left: 0px;top: 0px;overflow: visible;padding-bottom: 4px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 24px;font-weight: bold;color: rgb(250, 245, 245);text-align: center;line-height: 1.5;padding-top: 4px;border-radius: 0px;">
					<div class="content">Australia's
						<font face="serif">#1</font> Online Escort Hub
					</div>
				</div>
				<div class="bubble-element Text" style="box-sizing: border-box;z-index: 8;width: 100%;left: 22px;top: 41px;overflow: visible;padding-bottom: 4px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 16px;font-weight: bold;color: rgb(235, 235, 235);text-align: center;line-height: 1.5;padding-top: 4px;border-radius: 0px;">
					<div class="content">Just like In-House, only the selections bigger.
						<font face="serif">100</font>% of the Profiles visible are Ladies waiting to be contacted. Contact them now!
					</div>
				</div>
				<div class="bubble-element Text" style="box-sizing: border-box;z-index: 8;height: 17px;width: 100%;text-align: right;overflow: visible;padding-bottom: 0px;font-family: Arial;font-size: 8px;color: rgb(255, 255, 255);line-height: 1.5;border-radius: 0px;">
					<div class="content">All profiles are being advertised in 'Real Time'.</div>
				</div>
				<div class="bubble-element Group" style="box-sizing: border-box;z-index: 4;height: 99px;width: 100%;left: 95px;top: 143px;border-radius: 6px;">
					<div class="bubble-r-line" style="margin-top: 2px; height: 97px;">
						<div class="bubble-r-box Platinum-text" style="margin-top: 45px;height: 97px;left: 16px;width: 70%;float: left;">
							<div class="bubble-element Text" style="box-sizing: border-box;z-index: 6;height: 66px;width: 100%;left: 0px;top: 31px;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 35px;font-weight: bold;color: rgb(252, 247, 247);text-align: center;letter-spacing: 0.1px;line-height: 1.5;padding-top: 2px;border-radius: 0px;">
								<div class="content">Platinum Ladies Only</div>
							</div>
						</div>
						<div class="bubble-r-box" style="height: 97px;left: 387px;width: 30%;float: right;">
							<div class="bubble-element Image Platinum-img" style="box-sizing: border-box;z-index: 8;height: 97px;width: 90%;left: 0px;top: 0px;border-radius: 0px;">
								<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1597554695719x877280812603892900%2FPlatinum%2520chpped%2520%2526%2520croped%2520copy.png?w=128&amp;h=128&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 m-auto col-sm-10 col-10">
			
<div class="bubble-r-box" style="left: 7px;width: 100%;height: 182px;margin: 0 auto;">
	<div class="bubble-element Group" style="box-sizing: border-box;z-index: 6;height: 173px;width: 100%;left: 0px;top: 9px;border-radius: 6px;">
		<div class="bubble-r-line" style="margin-top: 17px; height: 123px;">
			<div class="bubble-r-box" style="margin: 0 auto;height: 123px;left: 22.5975px;width: 165px;">
				<div class="bubble-element Image clickable-element" tabindex="4" style="  box-sizing: border-box; z-index: 4; height: 123px; width: 165px; left: 0px; top: 0px; border-radius: 0px; cursor: pointer;">
					<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1598613515455x262111014408752600%2FElite-Escorts_png2%2520cropped.png?w=192&amp;h=143&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
					</div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 3px; height: 25px;">
				<div class="bubble-r-box" style="height: 25px;left: 22.5975px;margin: 0 auto;width: 165px;">
					<div class="bubble-element Text clickable-element" tabindex="5" style="  box-sizing: border-box; z-index: 8; height: 25px; width: 165px; left: 0px; top: 0px;   overflow: visible; padding-bottom: 1px; font-family: &quot;Spectral SC&quot;; font-size: 13px; font-weight: 600; color: rgb(255, 255, 255); text-align: center; line-height: 1.5; padding-top: 1px; border-top: 2px solid rgb(242, 34, 34); border-radius: 0px; border-bottom: 2px solid rgb(242, 34, 34); cursor: pointer; display: block;">
						<div class="content">'Click here'</div>
					</div>
				</div>
			</div>
		</div>
	</div>


		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-12 m-auto">
			<div class="bubble-element RepeatingGroup" style="top: 261px; width: 100%; left: 159.626px; box-sizing: border-box; z-index: 2; height: 244px; overflow-x: scroll; border-top: 2px solid rgb(145, 40, 40); border-radius: 0px; border-bottom: 2px solid rgb(145, 40, 40);">
	<div class="rows" style="transform: translateZ(0px); box-sizing: border-box; float: left; width: 0px;">
		<div class="bubble-element GroupItem group-item entry-1" style="box-sizing: border-box; float: left; position: relative; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left-style: none; display: none;">
			<div class="bubble-r-line" style="margin-top: 3px; height: 36px;">
				<div class="bubble-r-box" style="height: 36px; left: 3px; width: 169px;">
					<div class="bubble-element Text clickable-element" style="white-space: pre-wrap; cursor: pointer;"></div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 0px; height: 192px;">
				<div class="bubble-r-box" style="height: 192px; left: 34px; width: 199px;">
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none;"></div>
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Image" style="display: none;"></div>
				</div>
			</div>
		</div>
		<div class="list-dummy" style="float: left; position: relative; box-sizing: border-box; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left-style: none; display: none;"></div>
		<div class="bubble-element GroupItem group-item entry-2" style="box-sizing: border-box; float: left; position: relative; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;">
			<div class="bubble-r-line" style="margin-top: 3px; height: 36px;">
				<div class="bubble-r-box" style="height: 36px; left: 3px; width: 169px;">
					<div class="bubble-element Text clickable-element" style="white-space: pre-wrap; cursor: pointer;"></div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 0px; height: 192px;">
				<div class="bubble-r-box" style="height: 192px; left: 34px; width: 199px;">
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none;"></div>
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Image" style="display: none;"></div>
				</div>
			</div>
		</div>
		<div class="list-dummy" style="float: left; position: relative; box-sizing: border-box; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;"></div>
		<div class="bubble-element GroupItem group-item entry-3" style="box-sizing: border-box; float: left; position: relative; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;">
			<div class="bubble-r-line" style="margin-top: 3px; height: 36px;">
				<div class="bubble-r-box" style="height: 36px; left: 3px; width: 169px;">
					<div class="bubble-element Text clickable-element" style="white-space: pre-wrap; cursor: pointer;"></div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 0px; height: 192px;">
				<div class="bubble-r-box" style="height: 192px; left: 34px; width: 199px;">
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none;"></div>
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Image" style="display: none;"></div>
				</div>
			</div>
		</div>
		<div class="list-dummy" style="float: left; position: relative; box-sizing: border-box; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;"></div>
		<div class="bubble-element GroupItem group-item entry-4" style="box-sizing: border-box; float: left; position: relative; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;">
			<div class="bubble-r-line" style="margin-top: 3px; height: 36px;">
				<div class="bubble-r-box" style="height: 36px; left: 3px; width: 169px;">
					<div class="bubble-element Text clickable-element" style="white-space: pre-wrap; cursor: pointer;"></div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 0px; height: 192px;">
				<div class="bubble-r-box" style="height: 192px; left: 34px; width: 199px;">
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none;"></div>
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Image" style="display: none;"></div>
				</div>
			</div>
		</div>
		<div class="list-dummy" style="float: left; position: relative; box-sizing: border-box; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;"></div>
		<div class="bubble-element GroupItem group-item entry-5" style="box-sizing: border-box; float: left; position: relative; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;">
			<div class="bubble-r-line" style="margin-top: 3px; height: 36px;">
				<div class="bubble-r-box" style="height: 36px; left: 3px; width: 169px;">
					<div class="bubble-element Text clickable-element" style="white-space: pre-wrap; cursor: pointer;"></div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 0px; height: 192px;">
				<div class="bubble-r-box" style="height: 192px; left: 34px; width: 199px;">
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none;"></div>
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Image" style="display: none;"></div>
				</div>
			</div>
		</div>
		<div class="list-dummy" style="float: left; position: relative; box-sizing: border-box; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;"></div>
		<div class="bubble-element GroupItem group-item entry-6" style="box-sizing: border-box; float: left; position: relative; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;">
			<div class="bubble-r-line" style="margin-top: 3px; height: 36px;">
				<div class="bubble-r-box" style="height: 36px; left: 3px; width: 169px;">
					<div class="bubble-element Text clickable-element" style="white-space: pre-wrap; cursor: pointer;"></div>
				</div>
			</div>
			<div class="bubble-r-line" style="margin-top: 0px; height: 192px;">
				<div class="bubble-r-box" style="height: 192px; left: 34px; width: 199px;">
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Text" style="white-space: pre-wrap; display: none;"></div>
					<div class="bubble-element Image clickable-element" style="cursor: pointer;"></div>
					<div class="bubble-element Image" style="display: none;"></div>
				</div>
			</div>
		</div>
		<div class="list-dummy" style="float: left; position: relative; box-sizing: border-box; z-index: 2; height: 244px; width: 237px; border-top-style: none; border-left: 0px none rgb(150, 150, 150); display: none;"></div>
	</div>
</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-6 m-auto">
			
			<div class="bubble-r-line" style="margin-top: 0px; height: 56px;">
				<div class="bubble-r-box" style="height: 56px;left: 0px;float: left;width: 386px;">
					<div class="bubble-element Text" style="box-sizing: border-box;z-index: 4;height: 56px;width: 363px;top: 0px;overflow: visible;padding-bottom: 4px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 32px;font-weight: bold;color: rgb(252, 247, 247);text-align: center;letter-spacing: 0.1px;word-spacing: 2px;line-height: 1.5;padding-top: 4px;border-radius: 0px;">
						<div class="content">Welcome to Brisbane </div>
					</div>
				</div>
				
				
				<div class="bubble-r-box" style="height: 45px;left: 386px;display: flex;padding-top: 6px;width: 100px;justify-content: space-around;">
					<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 19; height: 45px; width: 47px; left: 0px; top: 0px; border-radius: 0px;">
						<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1611620794573x417763836551229950%2FXO_lifestyle_3_grande.jpg?w=64&amp;h=61&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
					</div>
					<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 19; height: 45px; width: 45px; left: 341px; top: 2px; border-radius: 0px;">
						<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1611620794573x417763836551229950%2FXO_lifestyle_3_grande.jpg?w=64&amp;h=64&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
$(".widget-bar-btn").click(function(){
$(".widget-bar").addClass("on") && $(".widget-bar").removeClass("off") && $("#pop-up-overlay").addClass("overlay");
});
});
$(document).ready(function(){
$(".close-widget-bar").click(function(){
$(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on") && $("#pop-up-overlay").removeClass("overlay");


});
});
$( "body" ).click(function( event ) {
var i = event.target.className;
console.log(i);
if(i == "overlay"){
$("#pop-up-overlay").removeClass("overlay") && $(".Sign-up-popup").css("display", "none") && $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on");
}
});
</script>
</body>
</html>