<!-- header - partials inclueded here -->
<%- include('../partials/header'); -%>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">


<div class="bubble-r-box" style="height: 412.19px;width: 1349px;width: 100%;background-image: url(&quot;https://static9.depositphotos.com/1431107/1154/i/600/depositphotos_11542091-stock-photo-sample-stamp.jpg&quot;);">
					
					
					
					<div class="bubble-element Group" style="width: 50%;box-sizing: border-box;z-index: 8;margin: 0 auto;padding-top: 40px;height: 356.19px;border-radius: 6px;">
						<div class="bubble-r-line" style="margin-top: 0px; height: 40.1896px;">
							<div class="bubble-r-box" style="height: 40.1896px;left: 0px;width: 100%;">
								<div class="bubble-element Image" style="box-sizing: border-box;z-index: 6;height: 40.1896px;width: 100%;left: 0px;top: 0px;border-radius: 0px;">
									<img alt="" class="img-fluid" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610963251589x978950865616390300%2FEscorts%2520on%2520demand%2520W%2520only.jpg?w=768&amp;h=58&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 10px; height: 52px;">
							<div class="bubble-r-box" style="height: 52px;width: auto;">
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 5;height: 52px;width: 100%;margin: 0 auto;left: 0px;top: 0px;overflow: visible;padding-bottom: 0px;font-family: &quot;Spectral SC&quot;;font-size: 32px;font-weight: 600;color: rgb(255, 255, 255);text-align: center;text-shadow: rgb(93, 93, 122) 2px 1px 0px;line-height: 1.5;border-radius: 0px;">
									<div class="content">PRESENTS</div>
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 12px;height: 48px;">
							<div class="bubble-r-box" style="height: 46px;width: 100%;margin: 0 auto;">
								<div class="bubble-element Image" style="box-sizing: border-box;z-index: 3;height: 43.1921px;width: 65%;margin: 0 auto;left: 0px;background: black;top: 0px;border-radius: 5px;">
									<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610962044361x807390787280413100%2FElite-Escorts%2520png.png?w=512&amp;h=63&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
								</div>
    <div class="bubble-element Text" style="box-sizing: border-box;z-index: 7;height: 40px;text-align: center;width: 100%;left: 231.91px;padding-left: 50%;top: 0px;overflow: visible;padding-bottom: 0px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 24px;color: rgb(255 255 255);line-height: 1.5;border-radius: 0px;"><div class="content">Only.</div>
							</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 0px; height: 183px;">
							<div class="bubble-r-box" style="height: 183px;width: 305.91px;margin: 0 auto;">
								<div class="bubble-element Group" style="box-sizing: border-box;z-index: 4;height: 183px;width: 100%;left: 0px;top: 0px;border-radius: 6px;">
									<div class="bubble-r-line" style="margin-top: 0px; height: 122px;">
										<div class="bubble-r-box" style="height: 122px;width: 100%;margin: 0 auto;">
											<div class="bubble-element Image" style="box-sizing: border-box;z-index: 3;height: 122px;left: 0px;width: 75%;margin: auto;top: 0px;border-radius: 0px;">
												<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610964405675x153326483253272800%2FElite-Escorts_png2%2520cropped%2520copy.png?w=256&amp;h=156&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
											</div>
										</div>
									</div>
									<div class="bubble-r-line" style="margin-top: 0px; height: 46px;">
										<div class="bubble-r-box" style="height: 46px; left: 0px; width: 305.906px;">
				<div class="bubble-element Group" style="box-sizing: border-box;z-index: 4;height: 1px;width: 268px;background-color: rgb(197, 179, 86);border-radius: 6px;">
												
											</div>							<div class="bubble-element Text" style="box-sizing: border-box;z-index: 2;height: 46px;width: 305.906px;overflow: visible;padding-bottom: 4px;font-family: &quot;Spectral SC&quot;;font-size: 13px;font-weight: bold;color: rgb(255, 255, 255);text-align: center;letter-spacing: 0.5px;line-height: 1.5;padding-top: 4px;border-radius: 0px;">
												<div class="content">The most Prestiges Escorts in Australia</div>
											</div>
											
										</div>


									</div>
								</div>
								
						</div>
					</div>
				</div>
				</div>









			</div>
		</div>
	</div>
</section>
<script>
$(document).ready(function(){
$(".widget-bar-btn").click(function(){
$(".widget-bar").addClass("on") && $(".widget-bar").removeClass("off") && $("#pop-up-overlay").addClass("overlay");
});
});
$(document).ready(function(){
$(".close-widget-bar").click(function(){
$(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on") && $("#pop-up-overlay").removeClass("overlay");


});
});
$( "body" ).click(function( event ) {
var i = event.target.className;
console.log(i);
if(i == "overlay"){
$("#pop-up-overlay").removeClass("overlay") && $(".Sign-up-popup").css("display", "none") && $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on");
}
});
$("body").css("overflow-x","hidden !important");
</script>
</body>
</html>