<!-- header - partials inclueded here -->
<%- include('../partials/header'); -%>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">


<div class="bubble-r-box" style="height: 412.19px;width: 100%;background-image: url(https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1611568700655x229214463861082700%2Fwpfonnid.jpg?w=1536&h=524&auto=compress&fit=crop&dpr=1);background-position: center center;background-size: 100% 100%;background-repeat: no-repeat;border-bottom: 1px solid #C5B356;">
					
					
					
					<div class="bubble-element Group" style="width: 50%;box-sizing: border-box;z-index: 8;margin: 0 auto;padding-top: 40px;height: 356.19px;border-radius: 6px;">
						<div class="bubble-r-line" style="margin-top: 0px; height: 40.1896px;">
							<div class="bubble-r-box" style="height: 40.1896px;left: 0px;width: 100%;">
								<div class="bubble-element Image" style="box-sizing: border-box;z-index: 6;height: 40.1896px;width: 100%;left: 0px;top: 0px;border-radius: 0px;">
									<img alt="" class="img-fluid" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610963251589x978950865616390300%2FEscorts%2520on%2520demand%2520W%2520only.jpg?w=768&amp;h=58&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 10px; height: 52px;">
							<div class="bubble-r-box" style="height: 52px;width: auto;">
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 5;height: 52px;width: 100%;margin: 0 auto;left: 0px;top: 0px;overflow: visible;padding-bottom: 0px;font-family: &quot;Spectral SC&quot;;font-size: 32px;font-weight: 600;color: rgb(255, 255, 255);text-align: center;text-shadow: rgb(93, 93, 122) 2px 1px 0px;line-height: 1.5;border-radius: 0px;">
									<div class="content">PRESENTS</div>
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 12px;height: 48px;">
							<div class="bubble-r-box" style="height: 46px;width: 100%;margin: 0 auto;">
								<div class="bubble-element Image" style="box-sizing: border-box;z-index: 3;height: 43.1921px;width: 65%;margin: 0 auto;left: 0px;background: black;top: 0px;border-radius: 5px;">
									<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610962044361x807390787280413100%2FElite-Escorts%2520png.png?w=512&amp;h=63&amp;auto=compress&amp;dpr=1&amp;fit=max" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
								</div>
    <div class="bubble-element Text" style="box-sizing: border-box;z-index: 7;height: 40px;text-align: center;width: 100%;left: 231.91px;padding-left: 50%;top: 0px;overflow: visible;padding-bottom: 0px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 24px;color: rgb(255 255 255);line-height: 1.5;border-radius: 0px;"><div class="content">Only.</div>
							</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 0px; height: 183px;">
							<div class="bubble-r-box" style="height: 183px;width: 305.91px;margin: 0 auto;">
								<div class="bubble-element Group" style="box-sizing: border-box;z-index: 4;height: 183px;width: 100%;left: 0px;top: 0px;border-radius: 6px;">
									<div class="bubble-r-line" style="margin-top: 0px; height: 122px;">
										<div class="bubble-r-box" style="height: 122px;width: 100%;margin: 0 auto;">
											<div class="bubble-element Image" style="box-sizing: border-box;z-index: 3;height: 122px;left: 0px;width: 75%;margin: auto;top: 0px;border-radius: 0px;">
												<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610964405675x153326483253272800%2FElite-Escorts_png2%2520cropped%2520copy.png?w=256&amp;h=156&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
											</div>
										</div>
									</div>
									<div class="bubble-r-line" style="margin-top: 0px; height: 46px;">
										<div class="bubble-r-box" style="height: 46px; left: 0px; width: 305.906px;">
				<div class="bubble-element Group" style="box-sizing: border-box;z-index: 4;height: 1px;width: 268px;background-color: rgb(197, 179, 86);border-radius: 6px;">
												
											</div>							<div class="bubble-element Text" style="box-sizing: border-box;z-index: 2;height: 46px;width: 305.906px;overflow: visible;padding-bottom: 4px;font-family: &quot;Spectral SC&quot;;font-size: 13px;font-weight: bold;color: rgb(255, 255, 255);text-align: center;letter-spacing: 0.5px;line-height: 1.5;padding-top: 4px;border-radius: 0px;">
												<div class="content">The most Prestiges Escorts in Australia</div>
											</div>
											
										</div>


									</div>
								</div>
								
						</div>
					</div>
				</div>
				</div>









			</div>
		</div>
	</div>
</section>


<section style="
    margin-top: 20px;
">
	<div class="row">
		<div class="col-md-12">
			


<div class="bubble-r-box" style="height: 50px;left: 963px;width: 386px;margin-left: auto;">
	<div class="bubble-element Group" style=" box-sizing: border-box; z-index: 11; height: 50px; width: 386px; left: 0px; top: 0px; border-radius: 6px;">
		<div class="bubble-r-line" style="margin-top: 0px; height: 50px;">
			<div class="bubble-r-box" style="height: 50px;left: 6px;width: 50%;float: left;">
				<div class="bubble-element Group" style="  box-sizing: border-box; z-index: 15; height: 50px; width: 181px; left: 0px; top: 0px; border-radius: 6px;">
					<div class="bubble-r-line" style="margin-top: 0px;height: 50px;">
						<div class="bubble-r-box" style="height: 50px;left: 0px;width: 20%;float: left;">
							<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 7; height: 50px; width: 34px; left: 0px; top: 0px; border-radius: 0px;">
								<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610968623228x802357594432038500%2FElite-Escorts%2520sheild%2520transparant.png?w=48&amp;h=71&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
							</div>
						</div>
						<div class="bubble-r-box" style="height: 39px;width: 80%;float: right;vertical-align: middle;/* margin: auto; */">
							<div class="bubble-element Text" style="box-sizing: border-box;z-index: 13;height: 18px;width: 130px;left: 0px;margin: 20px auto 0;top: 21px;overflow: visible;padding-bottom: 0px;font-family: Raleway;font-size: 12px;font-weight: 600;color: rgb(255, 255, 255);line-height: 1.5;border-radius: 0px;background-color: rgb(20, 20, 20);">
								<div class="content">available.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bubble-r-box" style="height: 50px;left: 207px;width: 50%;float: right;">
				<div class="bubble-element Group" style="  box-sizing: border-box; z-index: 14; height: 50px; width: 179px; left: 0px; top: 0px; border-radius: 6px;">
					<div class="bubble-r-line" style="margin-top: 0px; height: 50px;"><div class="bubble-r-box" style="height: 50px;left: 0px;width: 20%;float: left;">
						<div class="bubble-element Image" style="  box-sizing: border-box; z-index: 10; height: 50px; width: 34px; left: 0px; top: 0px; border-radius: 0px;">
							<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1612178856223x939681908500921300%2Fimageedit_22_7392191693.png?w=48&amp;h=71&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
						</div>
					</div>
					<div class="bubble-r-box" style="float: right;height: 39px;left: 49px;width: 80%;">
						<div class="bubble-element Text" style="box-sizing: border-box;z-index: 12;margin: 20px auto 0;height: 18px;width: 130px;left: 0px;top: 21px;overflow: visible;padding-bottom: 0px;font-family: Raleway;font-size: 12px;font-weight: 600;color: rgb(255, 255, 255);line-height: 1.5;border-radius: 0px;background-color: rgb(20, 20, 20);">
							<div class="content">Unavailable.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


			
		</div>
	</div>

</section>

<!-- elite escorts -->


<section>
	<div class="escorts-container" style="
    margin: 0 20px;
">
	<div class="row">
        <div class="col-md-3" style="
    padding-right: 70px;
">
<div class="filters" style="
    margin: 0 auto;
    height: 118%;
    width: auto;
    border: 1px solid #c5b356;
">
        		
<!-- filters start here -->
<div class="bubble-element Group" style="box-sizing: border-box;z-index: 21;height: 423px;width: 90%;left: 0px;top: 37px;margin: 0 auto;background-color: rgb(0, 0, 0);border-radius: 6px;">
    <div class="bubble-r-line" style="margin-top: 9px; height: 414px;">
        <div class="bubble-r-box" style="height: 414px;left: 0px;margin: 0 auto;width: 90%;">
            <div class="bubble-element Group" style="box-sizing: border-box;z-index: 2;height: 414px;width: 100%;left: 0px;top: 0px;background-color: rgb(0, 0, 0);border-radius: 6px;">
                <div class="bubble-r-line" style="margin-top: 0px; height: 29px;">
                    <div class="bubble-r-box" style="height: 29px;left: 64.5752px;width: 85%;margin: 0 auto;">
                        <div class="bubble-element Text clickable-element" tabindex="2" style="box-sizing: border-box;z-index: 11;height: 29px;width: 104px;left: 0px;margin: 0 auto;top: 0px;overflow: visible;padding-bottom: 4px;font-family: &quot;Spectral SC&quot;;font-size: 14px;font-weight: bold;color: rgb(227, 227, 229);text-align: center;line-height: 1.5;padding-top: 4px;border-radius: 3px;cursor: pointer;background-image: url(&quot;https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1611562224043x907412562387042100%2Fgold-background-in-frame-light-realistic-vector-15792628.jpg?w=128&amp;h=36&amp;auto=compress&amp;fit=crop&amp;dpr=1&quot;);background-size: cover;background-repeat: no-repeat;background-attachment: initial;background-origin: initial;background-clip: initial;background-color: rgba(255, 255, 255, 0);">
                            <div class="content">ALL Ladies.</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 13px; height: 1px;">
                    <div class="bubble-r-box" style="height: 1px;left: 3px;width: 100%;">
                        <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 5;height: 1px;margin: 0 auto;width: 100%;left: 0px;top: 0px;background-color: rgb(197, 179, 86);border-radius: 0px;"></div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 9px; height: 26px;">
                    <div class="bubble-r-box" style="height: 26px;left: 66.5806px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="3" style="box-sizing: border-box;z-index: 14;height: 26px;margin: 0 auto;width: 105px;left: 0px;top: 0px;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(227, 227, 229);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Gold Coast</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 9px; height: 26px;">
                    <div class="bubble-r-box" style="height: 26px;left: 69.6774px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="4" style="box-sizing: border-box;z-index: 4;margin: 0 auto;height: 26px;width: 99px;left: 0px;top: 0px;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(229, 228, 226);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Brisbane</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 6px; height: 1px;">
                    <div class="bubble-r-box" style="height: 1px;left: 3px;width: 100%;">
                        <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 3;height: 1px;width: 100%;margin: 0 auto;left: 0px;top: 0px;background-color: rgb(197, 179, 86);border-radius: 0px;"></div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 7px; height: 24px;">
                    <div class="bubble-r-box" style="height: 24px;left: 67.0968px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="5" style="box-sizing: border-box;z-index: 15;height: 24px;width: 104px;left: 0px;top: 0px;margin: 0 auto;overflow: visible;padding-bottom: 1px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(229, 228, 226);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 1px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Sydney</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 7px; height: 24px;">
                    <div class="bubble-r-box" style="height: 24px;left: 70.1935px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="6" style="box-sizing: border-box;z-index: 12;height: 24px;width: 98px;left: 0px;top: 0px;margin: 0 auto;overflow: visible;padding-bottom: 1px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(227, 227, 229);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 1px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Newcastle</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 5px; height: 1px;">
                    <div class="bubble-r-box" style="height: 1px;left: 3px;width: 100%;">
                        <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 2;height: 1px;margin: 0 auto;width: 100%;left: 0px;top: 0px;background-color: rgb(197, 179, 86);border-radius: 0px;"></div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 9px; height: 26px;">
                    <div class="bubble-r-box" style="height: 26px;left: 67.0968px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="7" style="box-sizing: border-box;z-index: 16;height: 26px;width: 104px;left: 0px;margin: 0 auto;top: 0px;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(229, 228, 226);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Melbourne</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 9px; height: 26px;">
                    <div class="bubble-r-box" style="height: 26px;left: 69.6774px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="8" style="box-sizing: border-box;z-index: 13;height: 26px;width: 99px;left: 0px;margin: 0 auto;top: 0px;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(229, 228, 226);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Cairns</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 5px; height: 1px;">
                    <div class="bubble-r-box" style="height: 1px;left: 3px;width: 100%;">
                        <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 9;height: 1px;width: 100%;left: 0px;top: 0px;margin:   0 auto;background-color: rgb(197, 179, 86);border-radius: 0px;"></div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 7px; height: 26px;">
                    <div class="bubble-r-box" style="height: 26px;left: 69.0625px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="9" style="box-sizing: border-box;z-index: 17;height: 26px;width: 100%;left: 0px;top: 0px;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(229, 228, 226);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Perth</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 7px; height: 26px;">
                    <div class="bubble-r-box" style="height: 26px;left: 71.7188px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="10" style="box-sizing: border-box;z-index: 7;height: 26px;width: 100%;left: 0px;top: 0px;margin: 0 auto;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(227, 227, 229);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Townsville</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 4px; height: 1px;">
                    <div class="bubble-r-box" style="height: 1px;left: 1px;width: 100%;">
                        <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 8;height: 1px;width: 100%;left: 0px;top: 0px;margin: 0 auto;background-color: rgb(197, 179, 86);border-radius: 0px;"></div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 5px; height: 26px;">
                    <div class="bubble-r-box" style="height: 26px;left: 71.2903px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="11" style="box-sizing: border-box;z-index: 18;height: 26px;width: 104px;left: 0px;top: 0px;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;margin: 0 auto;font-weight: bold;color: rgb(229, 228, 226);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Adelaide</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 5px; height: 26px;">
                    <div class="bubble-r-box" style="height: 26px;left: 73.4839px;width: 100%;">
                        <div class="bubble-element Text clickable-element" tabindex="12" style="box-sizing: border-box;z-index: 10;height: 26px;margin: 0 auto;width: 100%;left: 0px;top: 0px;overflow: visible;padding-bottom: 2px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;font-weight: bold;color: rgb(229, 228, 226);text-align: center;letter-spacing: 1px;line-height: 1.5;padding-top: 2px;border-radius: 3px;cursor: pointer;">
                            <div class="content">Canberra</div>
                        </div>
                    </div>
                </div>
                <div class="bubble-r-line" style="margin-top: 5px; height: 1px;">
                    <div class="bubble-r-box" style="height: 1px;left: 1px;width: 100%;">
                        <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 6;height: 1px;margin: 0 auto;width: 100%;left: 0px;top: 0px;background-color: rgb(197, 179, 86);border-radius: 0px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
	<div class="col-md-4 col-4 m-auto" style="
    padding: 0;
">
		<div class="bubble-r-line" style="margin-top: 0px; height: 25px;">
                        <div class="bubble-r-box" style="height: 25px;margin: 0 auto;left: 0px;width: 100px;">
                            <div class="bubble-element Text" style="box-sizing: border-box;z-index: 17;height: 21px;margin: 0 auto;width: 100%;left: 0px;top: 0px;overflow: visible;padding-bottom: 0px;font-family: Spectral;font-size: 14px;font-weight: bold;color: rgb(255, 255, 255);text-align: center;line-height: 1.5;border-radius: 0px;">
                                <div class="content">Age</div>
                            </div>
                            <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 24;height: 1px;width: 70%;margin: 0 auto;left: 0px;top: 24px;background-color: rgb(145, 40, 40);border-radius: 0px;"></div>
             </div>
                        
          </div>

 <div class="bubble-element RadioButtons clickable-element" style="box-sizing: border-box;z-index: 31;height: 100px;width: 85px;margin-left: 20px;left: 0px;top: 0px;font-family: Arial;font-size: 12px;color: rgb(255, 255, 255);"><div class="radio radio-black" style="
">
           	<input type="radio" value="18-25" name="1617423296508x7479" id="1617423296508x7479_option_0">
           <label for="1617423296508x7479_option_0" style="width: 40px; margin-right: 20px; margin-top: 3px;">18-25</label>
           <input type="radio" value="26-32" name="1617423296508x7479" id="1617423296508x7479_option_1">
           <label for="1617423296508x7479_option_1" style="width: 40px; margin-right: 20px; margin-top: 12px;">26-32</label>
           <input type="radio" value="33-39" name="1617423296508x7479" id="1617423296508x7479_option_2">
           <label for="1617423296508x7479_option_2" style="width: 40px; margin-right: 20px; margin-top: 12px;">33-39</label>
           <input type="radio" value="40+" name="1617423296508x7479" id="1617423296508x7479_option_3">
           <label for="1617423296508x7479_option_3" style="width: 40px; margin-right: 20px; margin-top: 12px;">40+</label>
       </div>
       </div>


	</div>	


	<div class="col-md-4 col-4 m-auto" style="
    padding: 0;
">
		<div class="bubble-r-line" style="margin-top: 0px; height: 25px;">
                        <div class="bubble-r-box" style="height: 25px;margin: 0 auto;left: 0px;width: 100px;">
                            <div class="bubble-element Text" style="box-sizing: border-box;z-index: 17;height: 21px;margin: 0 auto;width: 100%;left: 0px;top: 0px;overflow: visible;padding-bottom: 0px;font-family: Spectral;font-size: 14px;font-weight: bold;color: rgb(255, 255, 255);text-align: center;line-height: 1.5;border-radius: 0px;">
                                <div class="content">Hair Colour</div>
                            </div>
                            <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 24;height: 1px;width: 70%;margin: 0 auto;left: 0px;top: 24px;background-color: rgb(145, 40, 40);border-radius: 0px;"></div>
             </div>
                        
          </div>
<div class="bubble-element RadioButtons clickable-element" style="box-sizing: border-box;z-index: 3;height: 101px;margin-left: 20px;width: 90px;left: 0px;top: 0px;font-family: Arial;font-size: 12px;color: rgb(247, 242, 242);">
	<div class="radio radio-black">
		<input type="radio" value="Black" name="1617423296447x7352" id="1617423296447x7352_option_0">
		<label for="1617423296447x7352_option_0" style="width: 41px; margin-right: 20px; margin-top: 3px;">Black</label>
		<input type="radio" value="Blonde" name="1617423296447x7352" id="1617423296447x7352_option_1">
		<label for="1617423296447x7352_option_1" style="width: 41px; margin-right: 20px; margin-top: 12px;">Blonde</label>
		<input type="radio" value="Brunette" name="1617423296447x7352" id="1617423296447x7352_option_2">
		<label for="1617423296447x7352_option_2" style="width: 41px; margin-right: 20px; margin-top: 12px;">Brunette</label>
		<input type="radio" value="Other" name="1617423296447x7352" id="1617423296447x7352_option_3">
		<label for="1617423296447x7352_option_3" style="width: 41px; margin-right: 20px; margin-top: 12px;">Other</label>
	</div>
</div>

	</div>


		<div class="col-md-4 col-4 m-auto" style="
    padding: 0;
">
		<div class="bubble-r-line" style="margin-top: 0px; height: 25px;">
                        <div class="bubble-r-box" style="height: 25px;margin: 0 auto;left: 0px;width: 100px;">
                            <div class="bubble-element Text" style="box-sizing: border-box;z-index: 17;height: 21px;margin: 0 auto;width: 100%;left: 0px;top: 0px;overflow: visible;padding-bottom: 0px;font-family: Spectral;font-size: 14px;font-weight: bold;color: rgb(255, 255, 255);text-align: center;line-height: 1.5;border-radius: 0px;">
                                <div class="content">Dress Size</div>
                            </div>
                            <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 24;height: 1px;width: 70%;margin: 0 auto;left: 0px;top: 24px;background-color: rgb(145, 40, 40);border-radius: 0px;"></div>
             </div>
                        
          </div>
<div class="bubble-element RadioButtons clickable-element" style="box-sizing: border-box;z-index: 13;height: 104px;margin:  0 auto;width: 90px;left: 0px;margin-left: 20px;top: 0px;font-family: Arial;font-size: 12px;color: rgb(227, 227, 229);"><div class="radio radio-black">
	<input type="radio" value="8-10" name="1617423296491x7417" id="1617423296491x7417_option_0">
	<label for="1617423296491x7417_option_0" style="width: 41px; margin-right: 20px; margin-top: 3px;">8-10</label>
	<input type="radio" value="10-12" name="1617423296491x7417" id="1617423296491x7417_option_1">
	<label for="1617423296491x7417_option_1" style="width: 41px; margin-right: 20px; margin-top: 12px;">10-12</label>
	<input type="radio" value="12-14" name="1617423296491x7417" id="1617423296491x7417_option_2">
	<label for="1617423296491x7417_option_2" style="width: 41px; margin-right: 20px; margin-top: 12px;">12-14</label>
	<input type="radio" value="14+" name="1617423296491x7417" id="1617423296491x7417_option_3">
	<label for="1617423296491x7417_option_3" style="width: 41px; margin-right: 20px; margin-top: 12px;">14+</label>
</div>
</div>

	</div>

</div>
</div>
<!-- filters ends herer -->
        	    		
        	</div>

        </div>
        <div class="col-md-9">
        	<div class="escorts">
<div class="bubble-r-box" style="height: 80px;left: 339px;width: 100%;">
    <div class="bubble-element Text" style="box-sizing: border-box;z-index: 3;height: 61px;width: 100%;left: 0px;top: 19px;overflow: visible;padding-bottom: 0px;font-family: Raleway;font-size: 12px;font-weight: 600;color: rgb(255, 255, 255);line-height: 1.5;border-radius: 0px;border-bottom: 1px solid rgb(163, 21, 21);">
        <div class="content">
            <font size="3">NOTE</font>
            <font size="3">;</font> this is <strong>ELITE ESCORTS 'ONLY'</strong>.
        If you would like to view all available Escorts in your area, including Elite Escorts, please go to that locations page. This can be done by clicking 'Change Location' in the websites main menu.&nbsp;</div></div>
    </div>  






<!-- escorts collum -->
<div class="row">





<% users.forEach(function(user){  %>
	
 <%  if(user.eliteMember){ %>
	




	<div class="col-md-3">
		<div class="bubble-element GroupItem group-item entry-1" style="box-sizing: border-box; float: left; position: relative; z-index: 4; height: 318.5px; width: 248.5px; border-top-style: none; border-left-style: none; display: block;">
    <div class="bubble-r-line" style="margin-top: 8px; height: 43px;">
        <div class="bubble-r-box" style="height: 43px; left: 0px; width: 177px;">
            <div class="bubble-element Text clickable-element" tabindex="19" style="  cursor: pointer;   box-sizing: border-box; z-index: 2; top: 0px; height: 43px; overflow: visible; padding-bottom: 0px; font-family: &quot;Sorts Mill Goudy&quot;; font-size: 26px; color: rgb(245, 240, 240); text-align: center; line-height: 1.5; border-radius: 0px; width: 177px; left: 0px;">
                <div class="content"><%= user.sortName %></div>
            </div>
        </div>
    </div>
    <div class="bubble-r-line" style="margin-top: 0px; height: 264px;">
        <div class="bubble-r-box" style="height: 264px;display: flex;left: 9px;width: 250px;">
            <div class="bubble-element Image clickable-element" tabindex="20" style="cursor: pointer;   box-sizing: border-box; z-index: 5; height: 264px; top: 0px; border-radius: 5px; width: 163px; left: 0px;"><img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1588572094427x579281390686947600%2FDomTmUJXUAMmgHk.jpg?w=192&amp;h=311&amp;auto=compress&amp;dpr=1&amp;fit=crop&amp;q=75" style="display: block; margin: 0px 0px 0px 0.00803859px; width: 162.984px; height: 100%; border-radius: 5px;"></div>
            <div class="bubble-element Text" style="display: block;box-sizing: border-box;z-index: 9;top: 25px;margin-top: 55px;height: 220px;overflow: visible;padding-bottom: 10px;font-family: Spectral;font-size: 12px;font-weight: bold;color: rgb(255, 255, 255);text-align: center;line-height: 1.5;padding-top: 10px;border-radius: 5px;width: 87px;left: 163px;">
                <div class="content show-details">Age:&nbsp; 19
                    <br><br>Cup Size:&nbsp;<br>24B<br><br>Nationality:&nbsp;<br>Dutch</div>
    
    
    
    <div class="bubble-element Image" style="top: 188px;box-sizing: border-box;z-index: 6;height: 76px;border-radius: 0px;margin: 0 auto;width: 52px;left: 174px;"><img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1610968623228x802357594432038500%2FElite-Escorts%2520sheild%2520transparant.png?w=64&amp;h=94&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;"></div>
            </div>
            
            
        </div>
    </div>
</div>
	</div>
 <% } %>
<% }) %>
            










</div>

        	</div>

        </div>
	</div>
</div>
</section>








<script>
$(document).ready(function(){
$(".widget-bar-btn").click(function(){
$(".widget-bar").addClass("on") && $(".widget-bar").removeClass("off") && $("#pop-up-overlay").addClass("overlay");
});
});
$(document).ready(function(){
$(".close-widget-bar").click(function(){
$(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on") && $("#pop-up-overlay").removeClass("overlay");


});
});
$( "body" ).click(function( event ) {
var i = event.target.className;
console.log(i);
if(i == "overlay"){
$("#pop-up-overlay").removeClass("overlay") && $(".Sign-up-popup").css("display", "none") && $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on");
}
});
$("body").css("overflow-x","hidden !important");
</script>
</body>
</html>