<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="./css/main_style.css"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<link rel="stylesheet" href="./css/sina-nav.css">
<script src="./js/sina-nav.js"></script>
    <title>Hello, world !</title>
  </head>



  <body style="overflow-x: hidden;">



<% if(message == "true"){ %>
    <h1 style="color: black !important;">message exits</h1>
<% } %>
       

 <%  if(!currentUser){ %>
<form action="/login" method="POST">
    
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Login">
</form>

    <% } %>



       <!-- <h1 style="color: black !important;"> <%= currentUser %></h1> -->

    <div id="pop-up-overlay" style="position: relative;"></div>

<nav class="sina-nav">
    
    <div class="widget-bar off">
        <h3 class="close-widget-bar" style="color: white;cursor: pointer;">X</h3>
        <div class="widget">
            <h6 class="title">Custom Pages</h6>
            <ul class="link">
                <li><a href="#">Home</a></li>
                <li><a href="#">ELITE ESCORTS</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Advertise with us</a></li>
              

               <%  if(currentUser){ %>

                <li><a href="#">Profile</a></li>
                <li><a href="/logout">Log Out</a></li>

                  <% }else{ %>
                <li><a href="#">Sign in</a></li>
             <% } %>
               
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <!-- End widget-bar -->
</nav>

<!-- login pop up -->
<div class="bubble-element Login-popup" style="height: 370px; top: 100px; position: fixed; left: 50%; z-index: 2002; display: none; box-sizing: border-box; opacity: 1; margin-left: -149px; width: 298px; background-color: rgb(18, 18, 18); border-radius: 4px;">
    <div class="bubble-r-line" style="margin-top: 0px; height: 370px;">
        <div class="bubble-r-box" style="height: 370px; left: 1px; width: 293px;">
            <div class="bubble-element Group" style="box-sizing: border-box; position: absolute; z-index: 2; height: 370px; width: 283px; left: 6px; top: 0px; border-radius: 0px;">
                <div class="bubble-r-line" style="margin-top: 15px; height: 52px;">
                    <div class="bubble-r-box" style="height: 52px;width: 230px;margin: auto;">
                        <div class="bubble-element Text" style="box-sizing: border-box;z-index: 2;width: 230px;left: 0px;top: 0px;height: 52px;overflow: visible;padding-bottom: 0px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 36px;color: rgb(229, 228, 226);text-align: center;letter-spacing: -1px;line-height: 1.3;border-radius: 0px;">
                            <div class="content">Login</div>

                    </div>
                </div>
            </div>


<form action="/login" method="POST">

            <div class="bubble-r-line" style="margin-top: 0px; height: 40px;">
                <div class="bubble-r-box" style="height: 40px;width: 251px;margin: auto;">
                    <input type="text" name="username" class="bubble-element Input" tabindex="7" placeholder="Email" maxlength="" style="border-width: 1px;border-style: none none solid;border-color: rgb(189, 189, 189) rgb(189, 189, 189) rgb(151, 151, 151);border-image: initial;background: none transparent;box-sizing: border-box;z-index: 3;height: 40px;width: 251px;border-radius: 0px;font-family: Quicksand;font-size: 12px;font-weight: 500;color: rgb(229, 228, 226);padding: 0px 10px;outline: none;">
                </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 17px; height: 40px;">
                <div class="bubble-r-box" style="height: 40px;width: 251px;margin: 0 auto;">
                    <input type="password" name="password"  class="pwd bubble-element Input" tabindex="14" placeholder="Password" maxlength="" style="border-top: none;border-right: none;border-bottom: 1px solid rgb(151, 151, 151);border-left: none;border-image: initial;background-color: transparent;box-sizing: border-box;z-index: 6;height: 40px;border-radius: 0px;font-family: Quicksand;font-size: 12px;font-weight: 500;color: rgb(229, 228, 226);padding: 0px 10px;width: 251px;outline: none;" aria-autocomplete="list">
                </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 16px; height: 23px;">
                <div class="bubble-r-box" style="height: 23px;width: 111px;margin-left: 6%;">
                    <div class="bubble-element Checkbox clickable-element" style="box-sizing: border-box;z-index: 6;height: 23px;width: 111px;overflow: visible;font-family: Arial;font-size: 12px;color: rgb(229, 228, 226);line-height: 1;">
                        <input type="checkbox" id="1616601185092x3858" style="background-color: white;" tabindex="9">
                        <label for="1616601185092x3858">Remember me</label>
                    </div>
                </div>
                <div class="bubble-r-box" style="height: 23px;width: 136px;margin-left: 4%;">
                <button class="bubble-element Button clickable-element" tabindex="10" style="padding: 0px;cursor: pointer;background: none;border: none;text-align: center;box-sizing: border-box;z-index: 10;height: 20px;width: 136px;user-select: none;font-family: Arial;font-size: 14px;font-weight: bold;color: rgb(229, 228, 226);line-height: 1;border-radius: 3px;transition: box-shadow 100ms ease 0s;">Forgot password?</button></div>
            </div>
            <div class="bubble-r-line" style="margin-top: 67px; height: 40px;">
                <div class="bubble-r-box" style="height: 40px;width: 251px;margin: 0 auto;">
                    <input type="submit" class="bubble-element Button clickable-element" tabindex="11" style="padding: 0px;cursor: pointer;background: none rgb(219, 4, 4);border: none;text-align: center;box-sizing: border-box;height: 40px;width: 251px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 20px;font-weight: bold;color: rgb(229, 228, 226);line-height: 1;border-radius: 3px;box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px;transition: box-shadow 100ms ease 0s;" value="Login">
                </div>
            </div>

</form>
<!-- <form action="/login" method="POST">
    
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Login">
</form> -->

            
            <div class="bubble-r-line" style="margin-top: 8px; height: 24px;">
                <div class="bubble-r-box" style="height: 24px;width: 133px;margin: 0 auto;"><div class="bubble-element Text" style="white-space: pre-wrap;box-sizing: border-box;z-index: 8;width: 133px;height: 24px;overflow: visible;padding-bottom: 2px;font-family: Arial;font-size: 12px;color: rgb(229, 228, 226);line-height: 1.5;padding-top: 2px;border-radius: 0px;"><div class="content">Don't have an account?</div>
            </div>
        </div>
        <div class="bubble-r-box" style="height: 20px;width: 81px;margin: 0 auto;">
            <a class="bubble-element Button clickable-element sign-up-pop-up-loader" tabindex="12" style="padding: 0px;cursor: pointer;background: none;border: none;text-align: center;box-sizing: border-box;z-index: 9;height: 20px;width: 81px;user-select: none;font-family: Arial;font-size: 15px;font-weight: bold;color: rgb(227, 227, 229);line-height: 1;border-radius: 3px;box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px;transition: box-shadow 100ms ease 0s;">Sign up</a>
        </div>
    </div>
</div>
<div class="bubble-element Group" style="display: none; box-sizing: border-box;">
</div>
</div>
</div>
</div>

<!-- regitrasion pop up -->

<div class="Sign-up-popup" style="position: fixed;z-index: 999;left: 50%;margin-left: -147px;top: 100px;display: none;">
    <div class="bubble-r-box" style="height: 365px;width: 293px;position: absolute;top: 18%;left: 14%;">
        <div class="bubble-element Group" style="box-sizing: border-box;position: absolute;z-index: 5;height: 365px;top: 0px;background-color: rgb(18, 18, 18);border-radius: 0px;width: 293px;left: 0px;">
            <div class="bubble-r-line" style="margin-top: 7px; height: 52px;">
                <div class="bubble-r-box" style="height: 52px;width: 251px;margin: 0 auto;">
                    <div class="bubble-element Text" style="box-sizing: border-box;z-index: 4;height: 52px;overflow: visible;padding-bottom: 0px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 36px;color: rgb(229, 228, 226);text-align: center;letter-spacing: -1px;line-height: 1.3;border-radius: 0px;width: 251px;">
                        <div class="content">I'm an adult</div>
                    </div>
                </div>
            </div>

<form action="/register" method="POST">
            <div class="bubble-r-line" style="margin-top: 0px; height: 40px;">
                <div class="bubble-r-box" style="height: 40px;width: 251px;margin: 0 auto;">
                    <input type="text" name="username" class="bubble-element Input" tabindex="13" placeholder="Email" maxlength="" style="border-width: 1px;border-style: none none solid;border-color: rgb(189, 189, 189) rgb(189, 189, 189) rgb(151, 151, 151);border-image: initial;background: none transparent;box-sizing: border-box;z-index: 5;height: 40px;border-radius: 0px;font-family: Quicksand;font-size: 12px;font-weight: 500;color: rgb(229, 228, 226);padding: 0px 10px;width: 251px;outline: none;">
                </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 17px; height: 40px;">
                <div class="bubble-r-box" style="height: 40px;width: 251px;margin: 0 auto;">
                    <input type="password" name="password"  class="pwd bubble-element Input" tabindex="14" placeholder="Password" maxlength="" style="border-top: none;border-right: none;border-bottom: 1px solid rgb(151, 151, 151);border-left: none;border-image: initial;background-color: transparent;box-sizing: border-box;z-index: 6;height: 40px;border-radius: 0px;font-family: Quicksand;font-size: 12px;font-weight: 500;color: rgb(229, 228, 226);padding: 0px 10px;width: 251px;outline: none;" aria-autocomplete="list">
                </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 14px; height: 40px;">
                <div class="bubble-r-box" style="height: 40px;width: 251px;margin: 0 auto;">
                    <input type="password" autocomplete="new-password" class="bubble-element Input Confirm-pwd" tabindex="15" placeholder="Confirm password" maxlength="" style="border-width: 1px;border-style: none none solid;border-color: rgb(189, 189, 189) rgb(189, 189, 189) rgb(151, 151, 151);border-image: initial;background: none transparent;box-sizing: border-box;z-index: 7;height: 40px;border-radius: 0px;font-family: Quicksand;font-size: 12px;font-weight: 500;color: rgb(229, 228, 226);padding: 0px 10px;width: 251px;outline: none;">
                </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 13px; height: 33px;">
                <div class="bubble-r-box" style="height: 33px;width: 249px;margin: 0 auto;">
                    <div class="bubble-element Text clickable-element" tabindex="16" style="cursor: pointer;box-sizing: border-box;z-index: 2;top: 0px;outline: none;height: 33px;overflow: visible;padding-bottom: 0px;font-family: Quicksand;font-size: 10px;color: rgb(229, 228, 226);line-height: 1.6;border-radius: 0px;width: 90%;float: right;">
                        <div class="content">By signing up, I agree to the Privacy Policy and the Terms of Services and I am over the age of 18.</div>
                    </div>
                    <div class="bubble-element Checkbox clickable-element" style="box-sizing: border-box;z-index: 3;height: 15px;overflow: visible;font-family: Arial;font-size: 12px;color: rgb(0, 0, 0);line-height: 1;width: 10%;float: left;">
                        <input type="checkbox" id="1616682809717x4805" style="background-color: white;" tabindex="17">
                        <label for="1616682809717x4805"></label>
                    </div>
                </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 12px; height: 40px;">
                <div class="bubble-r-box" style="height: 40px;width: 251px;margin: 0 auto;">
                    <button class="bubble-element Button clickable-element" type="submit" tabindex="18" style="padding: 0px;cursor: pointer;background: none rgb(173, 0, 0);border: none;text-align: center;box-sizing: border-box;z-index: 8;height: 40px;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 20px;font-weight: bold;color: rgb(229, 228, 226);line-height: 1;border-radius: 3px;box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px;transition: box-shadow 100ms ease 0s;width: 251px;outline: none;">Create ...</button>
                </div>
            </div>

</form>

            <div class="bubble-r-line" style="margin-top: 14px; height: 1px;">
                <div class="bubble-r-box" style="height: 1px;width: 251px;margin: 0 auto;">
                    <div class="bubble-element Shape" style="box-sizing: border-box;z-index: 9;height: 1px;   background-color: rgb(229, 228, 226);border-radius: 0px;width: 251px;">
                    </div>
                </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 8px; height: 24px;">
                <div class="bubble-r-box" style="height: 24px;width: 213px;margin: 0 auto;">
                    <div class="bubble-element Text" style="box-sizing: border-box;z-index: 10;height: 24px;overflow: visible;padding-bottom: 2px;font-family: Quicksand;font-size: 12px;font-weight: 500;color: rgb(229, 228, 226);line-height: 1.5;padding-top: 2px;border-radius: 0px;width: 70%;float: left;">
                        <div class="content">Already have an account?</div>
                    </div>
                    <button class="bubble-element Button clickable-element login-pop-up-loader" tabindex="19" style="padding: 0px;outline: none;cursor: pointer;background: none;border: none;text-align: center;box-sizing: border-box;z-index: 11;height: 20px;user-select: none;font-family: Arial;font-size: 15px;font-weight: bold;color: rgb(227, 227, 229);line-height: 1;border-radius: 3px;box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px;transition: box-shadow 100ms ease 0s;width: 30%;text-decoration: none;font-style: normal;float: right;outline: none;">Login </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- registration ends here -->










<header>

    <div class="row">
        
        <div class="col-md-6 text-white  mt-1"><p style="font-size: 14px;font-family: Arial;padding-left: 12px;
            padding-top: 2px;">Already have an account<a  class="login-pop-up-loader" style="padding-left: 13px;font-family: Arial;font-size: 14px;font-weight: 700;color: white;line-height: 1px;cursor: pointer;">Log In</a></p></div>

            <!-- <div class="col-md-4 text-white">se c on  d co ll um </div> -->
            
            <div class="col-md-6 text-white" style="text-align: right;">

                <div>
                    <div style="float: left;width: 80%;padding-top: 5px;font-size: 13px;font-family: 'Quicksand', sans-serif;padding-left: 45%;text-align: center;">Just like In-house only the selections bigger.</div>
                    <div style="padding-right: 15px !important;float: right;width: 20%">



                     <img src="./img/menu.png" class="img-fluid widget-bar-btn" style="width: 35%;cursor: pointer;"></div>
                </div>
            </div>
            
        </div>
    </header>

<section>
    <div class="row">
        <div class="col-md-2 ml-auto mr-auto text-white"></div>

        <div class="col-md-8 ml-auto mr-auto text-white">
            <div class="header_img"><img src="./img/hom_page_header.jpg" class="img-fluid" alt=""></div>
            <div class="divider"><hr></div>

            <div class="welcome-text-container text-center"><h2>WELCOME </h2><h3>AU</h3></div>
       

        </div>

        <div class="col-md-2 ml-auto mr-auto text-white"></div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-2 ml-auto mr-auto text-white"></div>  
        <div class="col-md-8 ml-auto mr-auto text-white">
            

     <div class="main-content-container">
              <div class="bubble-element Group" style="box-sizing: border-box;z-index: 4;height: 517px;width: 625px;margin:0 auto; background-color: rgba(255, 255, 255, 0);background-repeat: no-repeat;background-position: center center;background-size: cover;border-style: solid;border-width: 1px 1px 2px 2px;border-color: rgb(219, 17, 17) rgb(245, 37, 37) rgb(148, 0, 0) rgb(237, 38, 38);border-radius: 0px;box-shadow: rgb(143, 4, 4) 4px 4px 4px 0px;background-image: url(&quot;https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1598255168186x294044103662962400%2FIMG_5275.jpg?w=768&amp;h=&amp;auto=compress&amp;dpr=1&amp;fit=max&quot;);">

                <div class="bubble-r-line" style="margin-top: 39px; height: 70px;">
                    <div class="bubble-r-box" style="height: 70px;margin: 0 auto; width: 321px;">
                        <div class="bubble-element Text" style="box-sizing: border-box;z-index: 5;height: 70px;width: 321px;white-space: pre-wrap;overflow: hidden;padding-bottom: 8px;font-family: Arial;font-size: 36px;color: rgb(250, 245, 245);text-align: center;letter-spacing: -1px;line-height: 1.5;padding-top: 8px;border-radius: 5px;background-color: rgb(0, 0, 0);"><div class="content">ADULTS ONLY 18+</div>
                    </div>
                </div>
            </div>
            <div class="bubble-r-line" style="margin-top: 42px; height: 164px;">
                <div class="bubble-r-box" style="height: 164px;margin: 0 auto; width: 512px;">
                    <div class="bubble-element Text" style="box-sizing: border-box;z-index: 2;height: 164px;width: 512px;white-space: pre-wrap;overflow: hidden;padding-bottom: 10px;font-family: Arial;font-size: 12px;font-weight: bold;color: rgb(255, 250, 250);text-align: center;line-height: 1.5;padding-top: 10px;border-radius: 5px;background-color: rgb(0, 0, 0);">
                        <div class="content text-content">This site contains 18 + advertisements posted by independent bodies across Australia.&nbsp; The Accuracy of each listing has not been verified by Escorts On Demand. 
<br>By entering the following site, you acknowledge Escorts On Demand(EOD) does not offer escorts services and it is just an online directory, and you accept EOD is not affiliated with the Advertisers, nor is it responsible for their behaviour or any content posted. &nbsp;By using this site, you agree to these terms and further terms &amp; conditions outlined in the website. <br>
                  </div>
               </div>
          </div>
  </div>
<div class="bubble-r-line" style="margin-top: 58px; height: 45px;">
    <div class="bubble-r-box" style="height: 45px;margin: 0 auto; width: 222px;">

        <button class="bubble-element Button clickable-element" style="box-sizing: border-box;z-index: 5;height: 45px;width: 222px;padding: 0px;cursor: pointer;background: none rgb(173, 0, 0);border: none;text-align: center;font-family: Arial;font-size: 24px;font-weight: bold;color: rgb(255, 255, 255);line-height: 1;border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 6px 0px;transition: box-shadow 100ms ease 0s;" tabindex="2">Ente</button></div></div></div>
            </div>


        </div>  
        <div class="col-md-2 ml-auto mr-auto text-white"></div>  
    </div>
</section>

<section style="padding-top: 50px;">
    <div class="row">
        <div class="col-md-2 ml-auto mr-auto text-white"></div>

        <div class="col-md-8 ml-auto mr-auto text-white">
            

            <div class="footer-text-container text-center ">
                <h4 class="align-self-center">How we are fastly becoming the number 1 online escort directory in Australia.  Watch our introduction video to find out why?</h4>

                <div><img src="./img/new-year-2021.png" alt=""></div></div>
       

        </div>

        <div class="col-md-2 ml-auto mr-auto text-white"></div>
    </div>
</section>








   
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>




<script> 





$(document).ready(function(){
  $(".widget-bar-btn").click(function(){
    $(".widget-bar").addClass("on") && $(".widget-bar").removeClass("off") && $("#pop-up-overlay").addClass("overlay");
  
  });
});

$(document).ready(function(){
  $(".close-widget-bar").click(function(){
    $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on") && $("#pop-up-overlay").removeClass("overlay");
  
    
  });
});

$(document).ready(function(){
  $(".login-pop-up-loader").click(function(){

$(".Login-popup").css("display", "block") && $("#pop-up-overlay").addClass("overlay") && $(".Sign-up-popup").css("display", "block");

    
  });
});

$(document).ready(function(){
  $(".sign-up-pop-up-loader").click(function(){

$(".Sign-up-popup").css("display", "block") && $(".Login-popup").css("display", "none") && $("#pop-up-overlay").addClass("overlay");


  });
});



$( "body" ).click(function( event ) {
  var i = event.target.className;
  console.log(i);

if(i == "overlay"){
    $("#pop-up-overlay").removeClass("overlay") && $(".Login-popup").css("display", "none") && $(".Sign-up-popup").css("display", "none") && $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on");

}


});

</script>
  </body>
</html>