<%- include('../partials/header'); -%>
<section class="membership-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5">
				<div class="membership-head">
					<h1 style="
					font-family: 'Spectral', serif;
					font-size: 36px;
					font-weight: 500;
					">Platinum Memberships</h1>
					<hr style="
					background: white;
					width: 80%;
					margin-top: -5px;
					box-shadow: rgb(255 0 0) 0px 0px 8px 1px;
					">
					<p style="
						font-size: 12px;
						font-weight: 700;
					"> BECOME A PLATINUM MEMBER TODAY!</p>
					<h4 style="
					font-size: 12px;
					">- Unlock <i>'Unlimited Advertising'</i> and save by becoming a Platinum Member Today! </h4>
					<h3 style="
					font-size: 12px;
					font-weight: 400;
					">Three, Six and Twelve month Membership avaiable</h3>
				</div>
				<div class="find-out">
					<div class="bronze-logo">
						<img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1593839738305x209550702940907400%2FPlsatnium%2520stamp%2520up%2520sized%2520font%2520crop.png?w=256&h=256&auto=compress&fit=crop&dpr=1" alt="">
					</div>
					<div class="find-out-text">
						<h1 style="
						font-family: 'Spectral SC', serif;
						font-size: 18px;
						padding: 5px;
						">
						<span>
							<a href="#">'CLICK HERE'</a>
						</span>
						TO FIND OUT MORE.
						</h1>
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-md-2">
				<div class="middle-text">
					<h1 style="
					font-family: 'Sorts Mill Goudy', serif;
					font-size: 36px;
					">OR</h1>
					<div class="main-logo">
						<img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1593839738305x209550702940907400%2FPlsatnium%2520stamp%2520up%2520sized%2520font%2520crop.png?w=256&h=256&auto=compress&fit=crop&dpr=1" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-5">
				<div class="right-text">
					<div class="bronze-text d-flex">
						<h1 class="left-bronze" style="
						font-family: 'Spectral SC', serif;
						font-size: 36px;
						">P.A.Y.G </h1>
						<h1 style="
						font-family: 'Spectral SC', serif;
						font-size: 36px;
						font-weight: 500;
						">Platinum</h1>
					</div>
					
					<div class="basic-text">
						<p style="
							font-size: 12px;
							"><span style="
								font-size: 18px;
								font-family: Arial;
							">$15.00</span>
						per day. Premium Exposure</p>
						<ul style="
							font-size: 12px;
							">
							<li>This includes:</li>
							<li>-Advertised in the Platinum section.</li>
							<li>-Platinum stamp on both sides of your profile</li>
							<li>-Positioned at the top of the page</li>
							<li>-Viewed with Platinum Ladies ONLY</li>
							<li>-Small bio shown when your profile is hovered or pressed</li>
							<li>-Horizontal scroll featured (Designed to keep the users attention in the Platinum section).</li>
						</ul>
					</div>
					<div class="active-text" style="
						font-size: 12px;
						">
						<p><span><a href="#">Activate</a></span> your desird availability below to advertise your profile </p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="prize-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-6 my-3">
				<div class="day-text p-1 text-center ">
					<h4>1 Day</h4>
				</div>
				<div class="rate-text p- text-center mb-3">
					<h4>$15.00</h4>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-6 my-3">
				<div class="day-text p-1 text-center ">
					<h4>2 Days</h4>
				</div>
				<div class="rate-text p- text-center mb-3">
					<h4>$30.00</h4>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-6 my-3">
				<div class="day-text p-1 text-center ">
					<h4>3 Days</h4>
				</div>
				<div class="rate-text p- text-center mb-3">
					<h4>$45.00</h4>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-6 my-3">
				<div class="day-text p-1 text-center ">
					<h4>4 Days</h4>
				</div>
				<div class="rate-text p- text-center mb-3">
					<h4>$60.00</h4>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-6 my-3">
				<div class="day-text p-1 text-center ">
					<h4>5 Days</h4>
				</div>
				<div class="rate-text p- text-center mb-3">
					<h4>$75.00</h4>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-4 col-6 my-3">
				<div class="day-text p-1 text-center ">
					<h4>6 Days</h4>
				</div>
				<div class="rate-text p- text-center mb-3">
					<h4>$90.00</h4>
				</div>
			</div>
			
			<div class="col-lg-4 my-3">
				
			</div>
			
			<div class="col-lg-4 my-3">
				<div class="day-text p-1 text-center ">
					<h4>7 Days</h4>
				</div>
				<div class="rate-text p- text-center mb-3">
					<h4>$105.00</h4>
				</div>
			</div>
			
			<div class="col-lg-4 my-5">
				
			</div>
			
		</div>
	</div>
</section>
<section class="fotter-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-10">
				<div class="profile-text">
					<h3>
					Advertise yur profile online for up to 7 days conseccutively. (1 day= 24 hours, 2 day= 48 hours etc.)
					</h3>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="fotter-text">
					<h1 style="
					text-align: center;
					font-size: 36px;
					font-family: 'Spectral', serif;
					">Australias #1 <span style="
						width: 308px;
						"><img src="../img/ondemand.jpg" alt="" class="img-fluid" style="
						width: 308px;
					"></span> Adult Directory <span>
					<img class="visa-img" src="../img/visa.png" alt="">
				</span></h1>
			</div>
		</div>
	</div>
</div>
</section>
<script>
$(document).ready(function(){
$(".widget-bar-btn").click(function(){
$(".widget-bar").addClass("on") && $(".widget-bar").removeClass("off") && $("#pop-up-overlay").addClass("overlay");
});
});
$(document).ready(function(){
$(".close-widget-bar").click(function(){
$(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on") && $("#pop-up-overlay").removeClass("overlay");
});
});
$( "body" ).click(function( event ) {
var i = event.target.className;
console.log(i);
if(i == "overlay"){
$("#pop-up-overlay").removeClass("overlay") && $(".Sign-up-popup").css("display", "none") && $(".widget-bar").addClass("off") && $(".widget-bar").removeClass("on");
}
});
</script>
</body>
</html>