<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Welcome</title>
	</head>
	<body>
		
		<div class="container">
			
			<div class="row">
				<div class="col-md-10 col-sm-10">
					
					<div class="bubble-element Popup clickable-element" tabindex="8" style="height: 387px; top: 100px; position: fixed; left: 50%; z-index: 2002; display: block; cursor: pointer; box-sizing: border-box; opacity: 1; margin-left: -393.5px; width: 787px; border-style: solid; border-width: 2px; border-color: rgb(197, 179, 88); border-radius: 4px; box-shadow: rgb(0, 0, 0) 0px 0px 6px 0px; background-color: rgb(0, 0, 0);">
						<div class="bubble-r-line" style="margin-top: 13px;height: 143px;">
							<div class="bubble-r-box" style="height: 143px;width: 731px;margin: 0 auto;">
								<div class="bubble-element Image" style="box-sizing: border-box;z-index: 2;height: 109px;width: 245px;border-radius: 0px;margin: 0 auto;">
									<img alt="" src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1596532881556x186203956405520900%2FEOD%2520Banner.jpg?w=384&amp;h=171&amp;auto=compress&amp;fit=crop&amp;dpr=1" style="display: block; margin: 0px; width: 100%; height: 100%; border-radius: 0px;">
								</div>
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 6;width: 731px;height: 25px;overflow: visible;padding-bottom: 0px;font-family: &quot;Spectral SC&quot; !important;font-size: 17px;font-weight: 600;color: rgb(227, 227, 229);text-align: center;letter-spacing: 1.2px;/* line-height: 0px; */border-radius: 0px;">
									<div class="content">Welcome to Australia's most Luxurious online Adult Directory Escorts on Demand.&nbsp;</div>
								</div>
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 9;width: 434px;height: 25px;overflow: visible;padding-bottom: 0px;font-family: &quot;Spectral SC&quot;;font-size: 15px;font-weight: 600;color: rgb(227, 227, 229);text-align: center;letter-spacing: 0.2px;line-height: 1.5;border-radius: 0px;margin: 0 auto;">
									<div class="content">The 'ONLY' Adult Directory with an In-House Vibe</div>
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 13px;height: 61px;">
							<div class="bubble-r-box" style="height: 61px;width: 580px;margin-left: 40px;text-align: left !important;">
								<div class="bubble-element Group" style="box-sizing: border-box;z-index: 3;height: 25px;width: 401px;border-radius: 6px;margin: 0 auto;">
								</div>
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 8;width: 578px;height: 25px;overflow: visible;padding-bottom: 0px;font-family: Spectral;font-size: 14px;font-weight: bold;color: rgb(227, 227, 229);line-height: 1.5;border-radius: 0px;margin: 0 auto;">
									<div class="content">To complete your Account registration you will have to confirm your Email Address. </div>
								</div>
								<div class="bubble-element Group" style="box-sizing: border-box;z-index: 0;height: 31px;width: 401px;border-radius: 6px;">
									<div class="bubble-r-line" style="margin-top: 0px; height: 25px;">
										<div class="bubble-r-box" style="height: 25px;width: 60%;/* margin: 0 auto; */float: left;">
											<div class="bubble-element Text" style="box-sizing: border-box;z-index: 7;height: 25px;overflow: visible;padding-bottom: 0px;font-family: Spectral;font-size: 14px;font-weight: bold;color: rgb(227, 227, 229);line-height: 1.5;border-radius: 0px;float: left;">
												<div class="content">A confirmation email has been sent to</div>
											</div>
										</div>
										<div class="bubble-r-box" style="height: 25px;left: 248px;width: 40%;float: right;">
											<button class="bubble-element Button clickable-element" tabindex="10" style="padding: 0px;cursor: pointer;margin: 0 auto;background: none;border: none;text-align: center;box-sizing: border-box;z-index: 0;height: 25px;width: 153px;user-select: none;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 15px;text-decoration: underline;color: rgb(197, 179, 88);line-height: 1;border-radius: 3px;font-weight: normal;font-style: normal;">taxeme5448@asfalio.com</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 30px;height: 30px;">
							<div class="bubble-r-box" style="height: 30px;width: 256px;margin: 0 auto;">
								<button class="bubble-element Button clickable-element" tabindex="9" style="padding: 0px;cursor: pointer;background: none;border: 1px solid rgb(197, 179, 88);text-align: center;box-sizing: border-box;z-index: 5;height: 30px;width: 256px;margin: 5% auto 0 auto;user-select: none;font-family: &quot;Sorts Mill Goudy&quot;;font-size: 14px;font-weight: bold;color: rgb(237, 237, 237);line-height: 1;border-radius: 3px;transition: box-shadow 100ms ease 0s;box-shadow: none;">Close</button>
							</div>
						</div>
						<div class="bubble-r-line" style="margin-top: 55px; height: 23px;">
							<div class="bubble-r-box" style="height: 23px;width: 402px;margin: 0 auto;">
								<div class="bubble-element Text" style="box-sizing: border-box;z-index: 4;width: 402px;height: 23px;overflow: visible;padding-bottom: 0px;font-family: Arial;font-size: 11px;color: rgb(227, 227, 229);line-height: 1.5;border-radius: 0px;background-color: rgb(0, 0, 0);">
									<div class="content">(If you have not received the email. Check your spam, junk and/or all mail folder)</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>