.vjs-youtube .vjs-iframe-blocker { display: none; };

.vjs-youtube.vjs-user-inactive .vjs-iframe-blocker { display: block; };

.vjs-youtube .vjs-poster { background-size: cover; };

.vjs-youtube-mobile .vjs-big-play-button { display: none; };

 .video-js {
   width: 300px;
   height: 150px;
 };

 .vjs-fluid {
   padding-top: 56.25%
 };
.vjsElement_34341-dimensions {
  width: 300px;
  height: 168.75px;
};

.vjsElement_34341-dimensions.vjs-fluid {
  padding-top: 56.25%;
};
.tb_button {
	padding:1px;
	cursor:pointer;
	border-right: 1px solid #8b8b8b;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid #fff;
	};
.tb_button.hover {
   borer:2px outset #def;
   background-color: #f8f8f8 !important;
   };
.ws_toolbar {
	z-index:100000
	}; 
.ws_toolbar .ws_tb_btn {
	cursor:pointer;
	border:1px solid #555;
	padding:3px
	};   
.tb_highlight{
	background-color:yellow
	} ;
.tb_hide {
	visibility:hidden
	} ;
.ws_toolbar img {
	padding:2px;
	margin:0px
    };*/




*{
    outline: none !important;
}



body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    background-color: black;
    overflow-x: hidden !important;
}

section , header{
	background-color: black;
}



.header_img{
	text-align: center;
	z-index: 1;
	width: 75%;
	margin: 0 auto;
}
.divider{
	background-color: red;
	width: 90%;
    margin: 0 auto;
}
.welcome-text-container{
	padding-right: 55px;
}

.welcome-text-container h2{
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 40px;
	font-weight: 400;
	color: #b9ac5e;
	float: left;
	width: 90%;
	padding-left: 17%;
}
.welcome-text-container h3{
    box-sizing: border-box;
    z-index: 6;
    height: 37px;
    width: 38px;
    white-space: pre-wrap;
    overflow: visible;
    padding-bottom: 4px;
    font-family: "Spectral SC";
    font-size: 18px;
    font-weight: 700;
    color: rgb(197, 179, 86);
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5;
    padding-top: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(107, 107, 107);
    border-radius: 150px;
    float: right;
}
.text-content{
	margin-top: -33px;
    padding-left: 10px;
    padding-right: 10px;
}
.footer-text-container h4 {
    font-size: 13px;
    font-family: sans-serif;
    width: 80%;
    float: left;
    padding: 0 20% 0 14%;
}

.footer-text-container div {
     text-align: left;
    float: right;
    width: 20%;
}
.footer-text-container div img {
  
    width: 35%;
}
.footer-text-container div img:hover {
  
    width: 40% !important;
}





/*============================*/
/*term and condition page*/
/*============================*/
#terms{
	padding-top: 4%;
	font-family: Arial;
}
.tc-header{
	box-shadow: rgb(245 73 73) -1px 0px 4px 3px;
	box-sizing: border-box;
	background-color: black;
	z-index: 99;
    position: relative;
}
.header-logo{
	text-align: center;
}
.header-logo img{
	max-width: 85%;
}
.back-icon{
	margin-top: 100%;
}
.menu-icon{
	margin-top: 98%;
}
.fa-chevron-left,.fa-bars{
	color: rgb(197 179 88) ;
	font-size: 36px;
	float: right;
	cursor: pointer;
}
.fa-chevron-left{
	font-size: 36px !important;
}

.tc-title-1{
	box-sizing: border-box;
    height: 44px;
    width: 310px;
    white-space: pre-wrap;
    font-weight: 700 !important;
    padding-bottom: 0px;
    font-family: Arial;
    font-size: 24px;
    color: rgb(227, 227, 229);
    line-height: 1.5;
    border-radius: 0px;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    float: right;
    margin-right: 43px;
}
.tc-title-2{
	box-sizing: border-box;
    width: 310px;
    white-space: pre-wrap;
    font-weight: 700 !important;
    padding-bottom: 0px;
    font-family: Arial;
    font-size: 24px;
    color: rgb(227, 227, 229);
    line-height: 1.5;
    border-radius: 0px;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    float: right;
    margin-right: -45%;
    text-align: center;

}

.tc-title-1:hover,.tc-title-2:hover{
	    color: red;
}
.terms-title-container{
	    width: 83% ;
}


/*======================*/
/*navigation menu*/
.sina-nav{
 min-height: 0 !important;
 border: none !important;
}
.sina-nav .widget-bar.on {
    right: 0;
}
.sina-nav .widget-bar {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -300px;
    width: 300px;
    padding: 20px;
    height: 100%;
    z-index: 999999999;
    transition: all 0.3s ease-in-out;
    background-color: #0F0F0F !important;
}

.sina-nav .widget-bar .close-widget-bar {
    float: right;
    font-size: 16px;
    color: #ccc;
}
.sina-nav .widget-bar .widget h6.title{
  display: none !important;
}
.sina-nav .widget-bar .widget {
    margin-bottom: 30px;
    margin-top: 35px !important;
}
.sina-nav ul, .sina-nav ul ul {
    padding: 0;
    margin-left: -20px !important;
    margin-right: -20px !important;
    list-style: none;
}
.link li{
	padding:10px !important;
	background: none;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
    padding: 10px 0;
    font-family: Raleway;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}
.link li:hover{
	background-color: #373737 !important;
}
.link li a{
	color: #B9A84C !important;
}
.close-widget-bar{
	color: #b9a84c !important;
}
/*======================*/



/*======================*/
/*login pop up*/
.overlay{
  position: absolute !important;
  top: 0  !important;
  left: 0  !important;
  width: 100% !important;
  height: 500%;
  z-index: 999 !important;
  background-color: rgb(0 0 0 / 25%) !important;
}

/*======================*/


.PictureInput:hover
{
	background-color: #e4dfdf !important;
}




/*===================================*/

.show-details{
    opacity: 0;
}
.profile_grid:hover .show-details{
    opacity: 1 !important;
}
/*===========================*/
1, h2, h3, h4, h5, h6{

font-family: 'Roboto', sans-serif;

}
body, p, span, a{

    font-family: 'Roboto', sans-serif;
    color: #ffff;
}
body{
    background: black;
}

.membership-section{
    margin-top: 100px;
}

.membership-head{}
.membership-head h1 {
    text-align: center;
    font-size: 46px;
}
.membership-head h3 {
    font-size: 15px;
    text-align: center;
    padding-top: 11px;
}
.membership-head h4 {
    font-size: 18px;
}
.membership-head p {
    text-align: center;
    font-size: 15px;
}

.bronze-logo img {
    margin: auto;
    display: block;
    width: 118px;
    height: auto;
}
.find-out-text h1 {
    font-size: 20px;
    text-align: center;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    margin: 0 79px;
}
.find-out-text h1 span a{
    text-decoration: none;
    
}
.find-out-text h1 span a:hover{
    text-decoration: none;
    cursor: pointer;
    color: white;
    
}

.middle-text {
    margin-top: 40px;
}

.middle-text h1 {
    text-align: center;
    font-size: 40px;
}
.main-logo{}
.main-logo img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.left-bronze {
    border-right: 4px solid white;
    padding-right: 20px;
    margin-right: 15px;
}
.bronze-text {
    border-bottom: 1px solid;
    margin-right: 85px;
    margin-left: 11px;
}

.basic-text{}
.basic-text p {
    margin-top: 20px;
    font-size: 18px;
}
.basic-text p span{
    font-size: 25px;
    font-weight: bold;
}
.basic-text ul {
    list-style: none;
    font-size: 17px;
}


.active-text p span a{
    color: #32952B !important;
    text-decoration: none;
    font-weight: bold;
}

.prize-section {
    padding-bottom: 0px;
    padding-top: 72px;
}

.day-text h4{}
.rate-text h4{
    border: 3px solid #C5B358;
    display: inline-block;
    padding: 10px 30px;
}

.profile-text h3 {
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid red;
    padding-bottom: 18px;
    margin: 20px 17px;
}
.fotter-text h1 {
    font-size: 53px;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.fotter-section{
    width: 1170px;
}
.visa-img {
    position: absolute;
    right: -169px;
    top: -19px;
}
.rate-text h4{
    box-sizing: border-box;
    z-index: 2;
    height: 45px;
    width: 150px;
    padding: 0px;
    cursor: pointer;
    background: none;
    border: 2px solid rgb(197, 179, 88);
    text-align: center;
    user-select: none;
    font-family: Spectral;
    font-size: 15px;
    font-weight: bold;
    color: rgb(229, 228, 226);
    line-height: 1;
    border-radius: 3px;
    box-shadow: rgb(209 23 23 / 15%) 4px 4px 6px 0px;
    transition: box-shadow 100ms ease 0s;
    text-decoration: none;
    font-style: normal;
    padding-top: 10px !important;
}
/*=============================*/

.profile_grids{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}
/*==================*/
.stripe-button-el{
    display: none !important; 
}
/*==================*/
.pl_btn::before {
    left: 30%;
    content: "";
    width: 10px !important;
    height: 10px !important;
    background: #06ba00 !important;
    position: absolute;
    top: 35%;
    border-radius: 50%;
}
.br_btn::before {
    left: 60%;
    content: "";
    width: 10px !important;
    height: 10px !important;
    background: #06ba00 !important;
    position: absolute;
    top: 35%;
    border-radius: 40%;
}
.pack_btn{


    margin: 0 auto;
    width: 330px !important;
    max-width: 330px;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    font-family: sans-serif;
    padding-top: 30px;
    }

/*===========================*/
.photo_grid{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: auto;
    gap: 80px;
    font-family: sans-serif;
    padding-top: 30px;
}